/* ==========================================================================
   #ANCHOR
   ========================================================================== */

/*
 * Base styling for anchor links. See component 'links' for modifying these further
 */

a {
    color: var(--colorPrimary);
    text-decoration: underline;

    &:hover {
        color: var(--colorPrimaryActive);
        text-decoration: none;
    }

    .inverted & {
        color: var(--colorTextInverted);

        &:hover {
            color: var(--colorPrimaryActive);
            text-decoration: none;
        }
    }
}
