/* ==========================================================================
   #ANCHOR
   ========================================================================== */

/**
 * Base styling for anchor links. See component 'links' for modifying these further
 */

a {
    @include themify($themes) {
        color: themed('color.linkColor');

        &:hover {
            color: themed('color.linkHoverColor');
        }
    }

    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
