/**
 * -----------------------------------------------------------------------------
 * $BLOCKQUOTE
 * -----------------------------------------------------------------------------
 */

blockquote {
    margin: 0;
    position: relative;

    font-style: italic;
}
