/**
 * -----------------------------------------------------------------------------
 * $BLOCKQUOTE
 * -----------------------------------------------------------------------------
 */

blockquote {
    margin: 0 0 $spacing-default 0; 
    position: relative;

    p {
        @include text-blockquote();  

        @include themify($themes) {
            line-height: themed('lineHeight.heading');
        }

        hanging-punctuation: first;
        text-indent: $blockquote-paragraph-text-indent;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    cite {
        display: block;
        padding-top: $content-gutter;

        @include themify($themes) {
            color: themed('color.hint');
        }
        
        font-style: normal;

        strong {
            display: block;
            margin-bottom: $blockquote-cite-strong-margin-bottom;

            @include themify($themes) {
                color: themed('color.text');
                font-size: themed('fontSize.large');
            }
        }
    }
}