/* ==========================================================================
   #BODY
   ========================================================================== */

/*
 * `body` element which will control default font variables.
 */

/*
 * 1. Sets the default font size back to 16px (unless --fontSizeDefault has
 *    changed value). This is the only time `em` should be used to define the
 *    font-size. This has to be `em` because of a bug in Chrome described in
 *    a link below.
 *    https://code.google.com/p/chromium/issues/detail?id=320754
 */
body {
    background-color: var(--colorSiteBackground);

    color: var(--colorTextDefault);
    font-size: var(--fontSizeBaseEm); /* 1. */
    @include text-default;

    overflow-x: hidden;

    .is-nav-visible & {
        overflow: hidden;
    }
}
