/**
 * -----------------------------------------------------------------------------
 * $FIGURE
 * -----------------------------------------------------------------------------
 */

figure {
    position: relative;
    margin: 0 0 $spacing-default 0;

    img,
    picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    figcaption {
        padding-top: $spacing-small;
        
        font-style: italic;
        text-align: center;
    }
}