/* ==========================================================================
   #FORM
   ========================================================================== */

.form {
    display: block;
    width: 100%;
}