/* ==========================================================================
   #HEADING
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;

    > a {
        text-decoration: none;
    }
}

h1 {
    @include text-heading('H1');
}

h2 {
    @include text-heading('H2');
}

h3 {
    @include text-heading('H3');
}

h4 {
    @include text-heading('H4');
}
