/* ==========================================================================
   #HTML
   ========================================================================== */

/**
 * `html` element that'll control font size/spacing for the paga via `rem` 
 * unit.
 */

/**
 * 1. Makes REM units easier to work with because 1rem = 10px.
 */
html {
    box-sizing: border-box;

    font-size: 62.5%; /* 1. */

    scroll-behavior: smooth;

    * {
        &,
        &:before,
        &:after {
            box-sizing: inherit;
        }
    }
}
