/* ==========================================================================
   #OL
   ========================================================================== */

/*
 * Base styling for numbered list.
 */

ol {
    margin: 0;
    margin-bottom: var(--spacingDefault);
    padding-left: var(--spacingLarge);

    ol,
    &:last-child {
        margin-bottom: 0;
    }
}
