/* ==========================================================================
   #BASE/STRONG
   ========================================================================== */

/**
 * Normalize resets <b> & <strong> to 'bolder'. Most projects doesn't use a font
 * weight as heavy as that. So --fontWeightBold corrects that.
 */

b,
strong {
    font-weight: var(--fontWeightBold);
}
