/* ==========================================================================
   #BASE/STRONG
   ========================================================================== */

/**
 * Normalize resets <b> & <strong> to 'bolder'. This project doesn't use a font
 * weight as heavy as that. So $font-weight-bold corrects that.
 */

b,
strong {
    @include themify($themes) {
        font-weight: themed('fontWeight.bold');
    }
}