/* ==========================================================================
   #TEXTAREA
   ========================================================================== */

textarea {
    border: var(--formBorderSize) solid var(--colorTextLight);
    display: block;
    min-height: var(--textareaMinHeight);
    padding: var(--formElementPaddingVertical)
        var(--formElementPaddingHorizontal);
    width: 100%;

    .has-error & {
        border: var(--formBorderSize) solid var(--colorError);
    }

    &:focus {
        @include focus-form-element;
    }
}
