/* ==========================================================================
   #UL
   ========================================================================== */

/*
 * Base styling for bulleted list.
 */

ul {
    list-style: disc;
    margin: 0;
    margin-bottom: var(--spacingDefault);
    padding-left: var(--spacingLarge);

    ul {
        margin-bottom: 0;
    }
}
