/* ==========================================================================
   #EMBED/DEFAULT
   ========================================================================== */

.embed {
    display: block;
    @include rem(margin-bottom, $spacing-default);
}

.embed__source {
    @include rem(margin-bottom, $spacing-small);

    > embed,
    > iframe,
    > object,
    > video {
        width: 100%;
    }
}

.embed__caption {
    font-style: italic;
}
