/* ==========================================================================
   #EMBED/RATIO 4:3
   ========================================================================== */

/**
 * Embedding third party content responsively.
 * Source: https://embedresponsively.com/
 */

.embed--ratio-4-3 {
    .embed__source {
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 75%;
        position: relative;

        > embed,
        > iframe,
        > object,
        > video {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
        }
    }
}
