/* ==========================================================================
   #TILES/VARIABLES
   ========================================================================== */

:root {
    --tilesBackgroundColor: transparent;
    --tilesBackgroundPattern: none;
    --tilesDimension: 24rem;
    --tilesGap: #{$spacing-default / 2};
    --tilesPadding: #{$spacing-default};
}
