<section class="section">
    <div class="section__content">
        
        <h2>This is a heading (h2)</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
        {{render '@figure'}}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
        <button class="btn btn--primary">Brand Primary</button>

    </div>
</section>