/* ==========================================================================
   #SPACE/VARIABLES
   ========================================================================== */

:root {
    --spaceSmall: #{var(--spacingSmall)};
    --spaceDefault: var(--spacingDefault);
    --spaceLarge: var(--spacingLarge);
    --spaceXLarge: #{var(--spacingXLarge)};
}
