/* ==========================================================================
   #SPACE/VARIABLES
   ========================================================================== */

:root {
    --spaceSmall: #{$spacing-small};
    --spaceDefault: #{$spacing-default};
    --spaceLarge: #{$spacing-large};
    --spaceXLarge: #{$spacing-x-large};
}
