<div class="form-group">
    <fieldset class="fieldset" aria-describedby="radio-example-hint">
        <legend class="fieldset__legend">
            <h3 class="fieldset__heading">
                Radio buttons
            </h3>
        </legend>
        <span id="radio-example-hint" class="hint">
            Use hint text to provide additional context to the question.
        </span>
        <div class="radios">
            <div class="radios__item">
                <input class="radios__input" id="radio-example" name="radio-example" type="radio" value="yes">
                <label class="label radios__label" for="radio-example">
                    Yes
                </label>
            </div>
            <div class="radios__item">
                <input class="radios__input" id="radio-example-2" name="radio-example" type="radio" value="no">
                <label class="label radios__label" for="radio-example-2">
                    No
                </label>
            </div>
        </div>
    </fieldset>
</div>