/**
 * -----------------------------------------------------------------------------
 * $ALIGNMENT
 * -----------------------------------------------------------------------------
 */

.align {
    &--full,
    &--wide {
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100vw;
    }

    &--wide {
        @include mq($from: tablet) {
            left: 0%;
            margin-left: calc(25% - 25vw);
            margin-right: calc(25% - 25vw);
            max-width: 1000%;
            right: 0%;
            width: auto;
        }
    }

    &--left {
        @include mq($from: tablet) {
            float: left;
            margin-right: $content-gutter;
        }
    }
    
    &--right {
        @include mq($from: tablet) {
            float: right;
            margin-left: $content-gutter;
        }
    }
    
    &-self {
        &--center {
            align-self: center;
        }
        &--end {
            align-self: flex-end;
        }
        &--start {
            align-self: flex-start;
        }
    }
}