/**
 * -----------------------------------------------------------------------------
 * $BACKGROUND
 * -----------------------------------------------------------------------------
 */

.bg--color {
    &-primary {
        background-color: var(--colorPrimary);
    }

    &-secondary {
        background-color: var(--colorSecondary);
    }

    &-black {
        background-color: var(--colorBlack);
    }

    &-grey {
        background-color: var(--colorGrey);
    }

    &-grey-light {
        background-color: var(--colorGreyLight);
    }

    &-white {
        background-color: var(--colorWhite);
    }
}
