/**
 * -----------------------------------------------------------------------------
 * $CONSTRAIN
 * -----------------------------------------------------------------------------
 */

/**
 * Helper classes for restricted width of a container.
 */

.constrain {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
    padding-left: $content-gutter-small;
    padding-right: $content-gutter-small;
    width: 100%;

    @include mq($from: mobile) {
        padding-left: $content-gutter;
        padding-right: $content-gutter;
    }

    @include mq($from: contentWideWithGutter) {
        padding-left: 0;
        padding-right: 0;
    }
}

.constrain--extra-thin {
    max-width: $content-width-extra-thin;
}

.constrain--thin {
    max-width: $content-width-thin;
}

.constrain--wide {
    max-width: $content-width-wide;
}
