/* ==========================================================================
   #DISPLAY
   ========================================================================== */

.display { 
    &--none { display: none; }
    &--block { display: block; }
    &--inline-block { display: inline-block; }
}