/**
 * -----------------------------------------------------------------------------
 * $FLOAT
 * -----------------------------------------------------------------------------
 */

/*
 * Hey, are you sure you wanna do this? Most of the time building a layout
 * with display: flex or display: grid will produce a better outcome.
 */

.float {
    &--left {
        float: left;
    }

    &--right {
        float: right;
    }

    &--left-content {
        float: left;
        margin-right: var(--spacingDefault);
        max-width: var(--contentWidthFloatedContent);
    }

    &--right-content {
        float: right;
        margin-left: var(--spacingDefault);
        max-width: var(--contentWidthFloatedContent);
    }

    &--left-content-tablet {
        @include mq($from: tablet) {
            float: left;
            margin-right: var(--spacingDefault);
            max-width: var(--contentWidthFloatedContent);
        }
    }

    &--right-content-tablet {
        @include mq($from: tablet) {
            float: right;
            margin-left: var(--spacingDefault);
            max-width: var(--contentWidthFloatedContent);
        }
    }
}
