/**
 * -----------------------------------------------------------------------------
 * $GUTTER
 * -----------------------------------------------------------------------------
 */

.gutter--none {
    .flow__content {
        margin-left: 0;

        > * {
            padding: 0;
        }
    }
}

.gutter--large {
    .flow__content {
        margin-left: -$flow-gutter * 2;

        > * {
            padding: 0 0 0 $flow-gutter * 2;
        }
    }
}
