/**
 * -----------------------------------------------------------------------------
 * $GUTTER
 * -----------------------------------------------------------------------------
 */

.gutter--none {
    .flow__content {
        margin-left: 0;

        > * {
            padding: 0;
        }
    }
}

.gutter--large {
    .flow__content {
        margin-left: calc(var(--flowGutter) * 2);

        > * {
            padding: 0 0 0 calc(var(--flowGutter) * 2);
        }
    }
}
