/* ==========================================================================
   #PADDING
   ========================================================================== */

.padding {
    &--bottom {
        padding-bottom: var(--spacingDefault);

        &-large {
            padding-bottom: var(--spacingLarge);
        }

        &-small {
            padding-bottom: var(--spacingSmall);
        }

        &-none {
            padding-bottom: 0;
        }
    }

    &--left {
        padding-left: var(--spacingDefault);

        &-large {
            padding-left: var(--spacingLarge);
        }

        &-small {
            padding-left: var(--spacingSmall);
        }

        &-none {
            padding-left: 0;
        }

        &-auto {
            padding-left: auto;
        }
    }

    &--right {
        padding-right: var(--spacingDefault);

        &-large {
            padding-right: var(--spacingLarge);
        }

        &-small {
            padding-right: var(--spacingSmall);
        }

        &-none {
            padding-right: 0;
        }

        &-auto {
            padding-right: auto;
        }
    }

    &--top {
        padding-top: var(--spacingDefault);

        &-large {
            padding-top: var(--spacingLarge);
        }

        &-small {
            padding-top: var(--spacingSmall);
        }

        &-none {
            padding-top: 0;
        }
    }
}
