/* ==========================================================================
   #RESPONSIVE DISPLAY
   ========================================================================== */

@use "sass-mq/mq";

.responsive-display {
    &--large-only {
        display: none;

        @include mq.mq($from: desktopSmall) {
            display: block;
        }
    }

    &--small-only {
        display: block;

        @include mq.mq($from: desktopSmall) {
            display: none;
        }
    }
}
