/*  ==========================================================================
    #SCREENREADER
    ========================================================================== */

/**
 * Utility classes for catering for screen readers.
 */

 .visuallyhidden {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    border: 0;

    white-space: nowrap;

    clip: rect(0 0 0 0);
}