/* ==========================================================================
   #SPACING
   ========================================================================== */

.margin {
    &--bottom {
        margin-bottom: $spacing-default;

        &-large {
            margin-bottom: $spacing-large;
        }

        &-small {
            margin-bottom: $spacing-small;
        }

        &-none {
            margin-bottom: 0;
        }
    }

    &--left {
        margin-left: $spacing-default;

        &-large {
            margin-left: $spacing-large;
        }

        &-small {
            margin-left: $spacing-small;
        }

        &-none {
            margin-left: 0;
        }

        &-auto {
            margin-left: auto;
        }
    }

    &--right {
        margin-right: $spacing-default;

        &-large {
            margin-right: $spacing-large;
        }

        &-small {
            margin-right: $spacing-small;
        }

        &-none {
            margin-right: 0;
        }

        &-auto {
            margin-right: auto;
        }
    }

    &--top {
        margin-top: $spacing-default;

        &-large {
            margin-top: $spacing-large;
        }

        &-small {
            margin-top: $spacing-small;
        }

        &-none {
            margin-top: 0;
        }
    }
}

.padding {
    &--bottom {
        padding-bottom: $spacing-default;

        &-large {
            padding-bottom: $spacing-large;
        }

        &-small {
            padding-bottom: $spacing-small;
        }

        &-none {
            padding-bottom: 0;
        }
    }

    &--left {
        padding-left: $spacing-default;

        &-large {
            padding-left: $spacing-large;
        }

        &-small {
            padding-left: $spacing-small;
        }

        &-none {
            padding-left: 0;
        }

        &-auto {
            padding-left: auto;
        }
    }

    &--right {
        padding-right: $spacing-default;

        &-large {
            padding-right: $spacing-large;
        }

        &-small {
            padding-right: $spacing-small;
        }

        &-none {
            padding-right: 0;
        }

        &-auto {
            padding-right: auto;
        }
    }

    &--top {
        padding-top: $spacing-default;

        &-large {
            padding-top: $spacing-large;
        }

        &-small {
            padding-top: $spacing-small;
        }

        &-none {
            padding-top: 0;
        }
    }
}
