/* ==========================================================================
   #SPACING
   ========================================================================== */

.margin {
    &--bottom {
        margin-bottom: var(--spacingDefault);

        &-large {
            margin-bottom: var(--spacingLarge);
        }

        &-small {
            margin-bottom: var(--spacingSmall);
        }

        &-none {
            margin-bottom: 0;
        }
    }

    &--left {
        margin-left: var(--spacingDefault);

        &-large {
            margin-left: var(--spacingLarge);
        }

        &-small {
            margin-left: var(--spacingSmall);
        }

        &-none {
            margin-left: 0;
        }

        &-auto {
            margin-left: auto;
        }
    }

    &--right {
        margin-right: var(--spacingDefault);

        &-large {
            margin-right: var(--spacingLarge);
        }

        &-small {
            margin-right: var(--spacingSmall);
        }

        &-none {
            margin-right: 0;
        }

        &-auto {
            margin-right: auto;
        }
    }

    &--top {
        margin-top: var(--spacingDefault);

        &-large {
            margin-top: var(--spacingLarge);
        }

        &-small {
            margin-top: var(--spacingSmall);
        }

        &-none {
            margin-top: 0;
        }
    }
}

.padding {
    &--bottom {
        padding-bottom: var(--spacingDefault);

        &-large {
            padding-bottom: var(--spacingLarge);
        }

        &-small {
            padding-bottom: var(--spacingSmall);
        }

        &-none {
            padding-bottom: 0;
        }
    }

    &--left {
        padding-left: var(--spacingDefault);

        &-large {
            padding-left: var(--spacingLarge);
        }

        &-small {
            padding-left: var(--spacingSmall);
        }

        &-none {
            padding-left: 0;
        }

        &-auto {
            padding-left: auto;
        }
    }

    &--right {
        padding-right: var(--spacingDefault);

        &-large {
            padding-right: var(--spacingLarge);
        }

        &-small {
            padding-right: var(--spacingSmall);
        }

        &-none {
            padding-right: 0;
        }

        &-auto {
            padding-right: auto;
        }
    }

    &--top {
        padding-top: var(--spacingDefault);

        &-large {
            padding-top: var(--spacingLarge);
        }

        &-small {
            padding-top: var(--spacingSmall);
        }

        &-none {
            padding-top: 0;
        }
    }
}
