/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * Classes to style text in various different ways.
 */

.font {
    &--default {
        font-family: var(--fontFamilyDefault);
    }

    &--heading {
        font-family: var(--fontFamilyHeading);
    }
}

.text {
    &--align {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }

    &--line-through {
        text-decoration: line-through;
    }

    &--underline {
        text-decoration: underline;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--size {
        &-h1 {
            font-size: var(--fontSizeH1Mobile);
            line-height: var(--lineHeightHeading);

            @include mq($from: desktop) {
                font-size: var(--fontSizeH1);
            }
        }

        &-h2 {
            font-size: var(--fontSizeH2Mobile);
            line-height: var(--lineHeightHeading);

            @include mq($from: desktop) {
                font-size: var(--fontSizeH2);
            }
        }

        &-h3 {
            font-size: var(--fontSizeH3Mobile);
            line-height: var(--lineHeightHeading);

            @include mq($from: desktop) {
                font-size: var(--fontSizeH3);
            }
        }

        &-h4 {
            font-size: var(--fontSizeH4Mobile);
            line-height: var(--lineHeightHeading);

            @include mq($from: desktop) {
                font-size: var(--fontSizeH4);
            }
        }
    }

    &--weight {
        &-bold {
            font-weight: var(--fontWeightBold);
        }

        &-normal {
            font-weight: var(--fontWeightDefault);
        }
    }
}
