/* ==========================================================================
   #WIDTH
   ========================================================================== */

/**
 * Classes to control width of element.
 */

.width--100 {
    width: 100%;
}

.width--80 {
    width: 80%;
}

.width--75 {
    width: 75%;
}

.width--66 {
    width: 66%;
}

.width--60 {
    width: 60%;
}

.width--50 {
    width: 50%;
}

.width--40 {
    width: 40%;
}

.width--33 {
    width: 33%;
}

.width--25 {
    width: 25%;
}

.width--20 {
    width: 20%;
}
