/* ==========================================================================
   #FLOW/DEFAULT
   ========================================================================== */

.flow {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
    width: 100%;

    .width--100 {
        > .carousel,
        > .hero,
        > .image--responsive,
        > .section {
            left: 50%;
            margin-left: calc(-50vw + (var(--scrollbarWidth) / 2));
            margin-right: calc(-50vw + (var(--scrollbarWidth) / 2));
            position: relative;
            right: 50%;
            width: calc(100vw - var(--scrollbarWidth));

            .flow {
                max-width: none;
            }
        }

        // Reset the above 'breakout behaviour' if inside a section
        // so a hero or carousel can be used inside a section and have it
        // respect the layout width, if desired.
        .section {
            .carousel,
            .hero,
            .image--responsive {
                left: auto;
                margin-left: 0;
                margin-right: 0;
                right: auto;
                width: auto;
            }
        }
    }

    .constrain & {
        max-width: $content-width;
    }

    .constrain--wide & {
        max-width: $content-width-wide;
    }
}

.flow__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$flow-gutter;

    > * {
        padding: 0 0 0 $flow-gutter;
    }
}
