/* ==========================================================================
   #SECTION/ALIGNMENT
   ========================================================================== */

.section--center {
    text-align: center;

    .flow__content {
        justify-content: center;
    }
}

.section--left {
    text-align: left;

    .flow__content {
        justify-content: flex-start;
    }
}

.section--right {
    text-align: right;

    .flow__content {
        justify-content: flex-end;
    }
}

.section--vertical-bottom .flow__content {
    align-items: flex-end;
}

.section--vertical-center .flow__content {
    align-items: center;
}
