/* ==========================================================================
   #SECTION/DEFAULT
   ========================================================================== */

.section {
    display: block;
    position: relative;
    padding-bottom: $section-vertical-padding-mobile;
    padding-top: $section-vertical-padding-mobile;

    overflow-x: hidden;

    @include mq($from: desktop) {
        padding-bottom: $section-vertical-padding;
        padding-top: $section-vertical-padding;
    }
}
