/* ==========================================================================
   #SECTION/DEFAULT
   ========================================================================== */

.section {
    display: block;
    position: relative;
    margin-bottom: var(--sectionVerticalPaddingMobile);
    padding-bottom: var(--sectionVerticalPaddingMobile);
    padding-top: var(--sectionVerticalPaddingMobile);

    background-color: var(--sectionBackgroundColor);
    background-image: var(--sectionBackgroundPattern);
    overflow: hidden;

    @include mq($from: desktop) {
        margin-bottom: var(--sectionVerticalPadding);
        padding-bottom: var(--sectionVerticalPadding);
        padding-top: var(--sectionVerticalPadding);
    }

    &__content {
        position: relative;
        z-index: var(--zIndexNudgeForward);
    }
}
