/* ==========================================================================
   #SECTION/GUTTER
   ========================================================================== */

.section--flow-gutter-none {
    .flow__content {
        margin-left: 0;

        > * {
            padding: 0;
        }
    }
}

.section--flow-gutter-large {
    .flow__content {
        margin-left: -$flow-gutter * 2;

        > * {
            padding: 0 0 0 $flow-gutter * 2;
        }
    }
}
