/* ==========================================================================
   #SECTION/HERO
   ========================================================================== */

.section--hero {
    padding: 0;

    .section__content {
        max-width: none;
        padding: 0;
    }
}