/* ==========================================================================
   #SECTION/SPACING
   ========================================================================== */

@use "sass:math";

.section--spaced-after-none {
    margin-bottom: 0;

    @include mq($from: desktop) {
        margin-bottom: 0;
    }
}

.section--spaced-after-large {
    margin-bottom: var(--sectionVerticalPaddingMobileLarge);

    @include mq($from: desktop) {
        margin-bottom: var(--sectionVerticalPaddingLarge);
    }
}

.section--padding-top-none {
    padding-top: 0;

    @include mq($from: desktop) {
        padding-top: 0;
    }
}

.section--padding-top-large {
    padding-top: var(--sectionVerticalPaddingMobileLarge);

    @include mq($from: desktop) {
        padding-top: var(--sectionVerticalPaddingLarge);
    }
}

.section--padding-bottom-none {
    padding-bottom: 0;

    @include mq($from: desktop) {
        padding-bottom: 0;
    }
}

.section--padding-bottom-large {
    padding-bottom: var(--sectionVerticalPaddingMobileLarge);

    @include mq($from: desktop) {
        padding-bottom: var(--sectionVerticalPaddingLarge);
    }
}

.section--no-flow-gutter {
    .flow__content {
        margin-left: 0;

        > * {
            padding: 0;
        }
    }
}

.section--large-flow-gutter {
    .flow__content {
        margin-left: -$flow-gutter * 2;

        > * {
            padding: 0 0 0 $flow-gutter * 2;
        }
    }
}

.section--small-vertical-flow-gutter {
    .flow__content > * {
        margin-bottom: math.div($flow-gutter, 2);
    }
}

.section--medium-vertical-flow-gutter {
    .flow__content > * {
        margin-bottom: $flow-gutter;
    }
}

.section--large-vertical-flow-gutter {
    .flow__content > * {
        margin-bottom: ($flow-gutter * 2);
    }
}

.section--no-stacked-vertical-flow-gutter {
    @include mq($until: desktopSmall) {
        .flow__content > * {
            margin-bottom: 0;
        }
    }
}

.section--small-stacked-vertical-flow-gutter {
    @include mq($until: desktopSmall) {
        .flow__content > * {
            margin-bottom: math.div($flow-gutter, 2);
        }
    }
}

.section--medium-stacked-vertical-flow-gutter {
    @include mq($until: desktopSmall) {
        .flow__content > * {
            margin-bottom: $flow-gutter;
        }
    }
}

.section--large-stacked-vertical-flow-gutter {
    @include mq($until: desktopSmall) {
        .flow__content > * {
            margin-bottom: ($flow-gutter * 2);
        }
    }
}
