/* ==========================================================================
   #SECTION/VARIABLES
   ========================================================================== */

$section-form-solo-max-width: 40rem;

:root {
    --sectionBackgroundColor: transparent;
    --sectionBackgroundPattern: none;

    --sectionVerticalPaddingMobile: 6rem;
    --sectionVerticalPaddingMobileLarge: #{6rem * 1.5};
    --sectionVerticalPadding: 9rem;
    --sectionVerticalPaddingLarge: #{9rem * 1.5};
}
