/* ==========================================================================
   #SECTION/VARIABLES
   ========================================================================== */

$section-vertical-padding-mobile: 6rem;
$section-vertical-padding: 9rem;

$section-form-solo-max-width: 40rem;
