/* ==========================================================================
   #SECTION/WIDTH
   ========================================================================== */

.section {
    &--full {
        .section__content {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &--wide {
        .section__content {
            max-width: $content-width-wide;
        }
    }
}