<p class="font--heading text--size-h1 text--weight-bold">Manuale</p>

<p>The font 'Manuale' is used for headings.</p>

<p class="font--default text--size-h1 text--weight-bold">Work Sans</p>

<p>'Work Sans' is the default font.</p>