/* ==========================================================================
   #CONTENT
   ========================================================================== */

@mixin content-gutter() {
    padding-left: $content-gutter-small;
    padding-right: $content-gutter-small;

    @include bp-min-width($bp-mobile) {
        padding-left: $content-gutter;
        padding-right: $content-gutter;
    }

    @include bp-min-width($content-width-wide + ($content-gutter * 2)) {
        padding-left: 0;
        padding-right: 0;
    }
}

/**
 * Used to counter the content gutter. Useful when a parent element has a gutter but the child doesn't.
 */
@mixin content-gutter-reverse() {
    margin-left: -$content-gutter-small;
    margin-right: -$content-gutter-small;

    @include bp-min-width($bp-mobile) {
        margin-left: -$content-gutter;
        margin-right: -$content-gutter;
    }
    
    @include bp-min-width($content-width-wide + ($content-gutter * 2)) { 
        margin-left: 0;
        margin-right: 0;
    }
}