/* ==========================================================================
   #FOCUS
   ========================================================================== */

/**
 * Mixin for adding :focus styling to elements.
 */

@mixin focus-form-element {
    $box-shadow-blur: 6px;
    $box-shadow-spread: 1px;

    @include themify($themes) {
        box-shadow: 0 0 $box-shadow-blur $box-shadow-spread themed('color.brandPrimary');
    }

    @include themify($themes) {
        border: $form-border-size solid themed('color.text');
    }
}