/* ==========================================================================
   #GRID
   ========================================================================== */

/*
 * Mixins & functions for working with grid.
 */

@mixin grid-master() {
    display: grid;
    grid-gap: var(--gutterSmall);
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(auto, auto);
    padding-left: var(--gutterSmall);
    padding-right: var(--gutterSmall);

    @include mq($from: tablet) {
        grid-gap: var(--gutter);
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(auto, auto);
        padding-left: var(--gutter);
        padding-right: var(--gutter);
        margin-left: auto;
        margin-right: auto;
    }
}
