/* ==========================================================================
   #MEDIAQUERIES
   ========================================================================== */

/*
 * Mixins for targeting Edge and Internet Explorer.
 * For more info and how to target other browsers:
 * https://www.ryadel.com/en/css3-media-query-target-only-ie-ie6-ie11-firefox-chrome-safari-edge/
 */

@mixin target-edge() {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}

@mixin target-ie() {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin target-ie-and-edge() {
    @include target-edge() {
        @content;
    }

    @include target-ie() {
        @content;
    }
}
