/* ==========================================================================
   #LISTS
   ========================================================================== */

/**
 * Mixins & functions for working with lists.
 */

@mixin list-reset() {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    list-style: none;
}

@mixin list-horizontal() {
    @include clearfix();
    
    > li {
        display: inline-block;
        float: left;
    }
}

@mixin list-horizontal-spaced() {
    @include list-horizontal();

    > li {
        @include rem(margin-right, $content-gutter);

        &:last-child {
            margin-right: 0;
        }
    }
}