/* ==========================================================================
   #TEXT
   ========================================================================== */

/*
 * Mixins & functions for working with text styles.
 */

@mixin text-default() {
    font-family: var(--fontFamilyDefault);
    font-style: var(--fontStyleDefault);
    font-weight: var(--fontWeightDefault);
    line-height: var(--lineHeightDefault);
}

@mixin text-heading($size) {
    font-family: var(--fontFamilyHeading);
    font-style: var(--fontStyle#{$size});
    font-size: var(--fontSize#{$size});
    font-weight: var(--fontWeight#{$size});
    line-height: var(--lineHeight#{$size});
    text-transform: var(--textTransform#{$size});
}
