/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * Mixins & functions for working with text styles.
 */

@mixin text-default() {
    font-style: normal;

    @include themify($themes) {
        font-family: themed('fontFamily.default');
        font-weight: themed('fontWeight.default');
    }
}

@mixin text-heading() {
    font-style: normal;

    @include themify($themes) {
        font-family: themed('fontFamily.heading');
        font-weight: themed('fontWeight.bold');
        line-height: themed('lineHeight.heading');
    }
}

@mixin text-hero() {
    @include text-heading();

    @include themify($themes) {
        @include rem(font-size, themed('fontSize.mobile.hero'));
        line-height: themed('lineHeight.hero');
    }

    @include bp-min-width($bp-desktop) {
        @include themify($themes) {
            @include rem(font-size, themed('fontSize.hero'));
        }
    }
}

@mixin text-h1() {
    @include text-heading();

    @include themify($themes) {
        @include rem(font-size, themed('fontSize.mobile.h1'));
    }

    @include bp-min-width($bp-desktop) {
        @include themify($themes) {
            @include rem(font-size, themed('fontSize.h1'));
        }
    }
}

@mixin text-h2() {
    @include text-heading();

    @include themify($themes) {
        @include rem(font-size, themed('fontSize.mobile.h2'));
    }

    @include bp-min-width($bp-desktop) {
        @include themify($themes) {
            @include rem(font-size, themed('fontSize.h2'));
        }
    }
}

@mixin text-h3() {
    @include text-heading();

    @include themify($themes) {
        @include rem(font-size, themed('fontSize.mobile.h3'));
    }

    @include bp-min-width($bp-desktop) {
        @include themify($themes) {
            @include rem(font-size, themed('fontSize.h3'));
        }
    }
}

@mixin text-h4() {
    @include text-heading();

    @include themify($themes) {
        @include rem(font-size, themed('fontSize.mobile.h4'));
    }

    @include bp-min-width($bp-desktop) {
        @include themify($themes) {
            @include rem(font-size, themed('fontSize.h4'));
        }
    }
}

@mixin text-blockquote() {
    @include text-default();
    font-style: italic;
}