/* ==========================================================================
   #TEXT DEFAULT
   ========================================================================== */

/*
 * For resetting text back to the default, overriding other styles that may
 * have come from a parent component or third party.
 */

%text-default {
    font-family: var(--fontFamilyDefault);
    font-style: var(--fontStyleDefault);
    font-weight: var(--fontWeightDefault);
    line-height: var(--lineHeightDefault);
}
