<div class="embed">
    <div class="embed__source">
        <iframe src="https://www.youtube.com/embed/m570b_d8vbk" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>

    <p class="embed__caption">Morbi mattis rhoncus felis, eget congue tortor tempor accumsan.</p>
</div>