/* ==========================================================================
   #GROUP/DEFAULT
   ========================================================================== */

.group {
    background-color: var(--groupBackgroundColor);
    background-image: var(--groupBackgroundPattern);

    &--padded {
        padding: var(--groupPaddedPadding);
    }

    &--padded-large {
        padding: var(--groupPaddedPaddingLarge);
    }
}
