/* ==========================================================================
   #GROUP/DEFAULT
   ========================================================================== */

.group {
    background-color: var(--groupBackgroundColor);
    background-image: var(--groupBackgroundPattern);

    &--inverted {
        color: var(--colorTextInverted);
    }
}
