/* ==========================================================================
   #GROUP/VARIABLES
   ========================================================================== */

:root {
    --groupBackgroundColor: transparent;
    --groupBackgroundPattern: none;
    --groupPaddedPadding: #{$spacing-default};
    --groupPaddedPaddingLarge: #{$spacing-large};
}
