/* ==========================================================================
   #GROUP/VARIABLES
   ========================================================================== */

:root {
    --groupBackgroundColor: transparent;
    --groupBackgroundPattern: none;
    --groupPaddedPadding: var(--spacingDefault);
    --groupPaddedPaddingLarge: var(--spacingLarge);
}
