/* ==========================================================================
   #BREAKPOINTS
   ========================================================================== */

/**
 * Media query breakpoints.
 */

$bp-mobile-small: 320px;
$bp-mobile: 375px;
$bp-mobile-large: 425px;
$bp-tablet-small: 600px;
$bp-tablet: 768px;
$bp-desktop-small: 1024px;
$bp-desktop: 1280px;
$bp-desktop-medium: 1440px;
$bp-desktop-large: 1920px;
$bp-desktop-huge: 2200px;