/* ==========================================================================
   #COLOR
   ========================================================================== */
   
$color-brand-primary: #3ce854;
$color-brand-secondary: #070f26;

$color-grey-1: #efefef;

$color-black: #070f26;
$color-white: #fff;
$color-grey: lighten($color-black, 80%);