/* ==========================================================================
   #CONTENT
   ========================================================================== */
   
/**
 * Content spacing
 */

$content-gutter-small: 15px;
$content-gutter: 30px;

/**
 * Content Width
 */
 
$content-width: 800px;
$content-width-wide: 1100px;