/* ==========================================================================
   #FONT
   ========================================================================== */
   
@import url('https://fonts.googleapis.com/css?family=Manuale:400,700|Work+Sans:400,700&display=swap');

$font-family-heading: 'Manuale', sans-serif;
$font-family-default: 'Work Sans', sans-serif;

$font-line-height-heading: 1.2;
$font-line-height-default: 2.2rem;

$font-size-h1-mobile: 3.6rem;
$font-size-h1: 4rem;

$font-size-h2-mobile: 3.2rem;
$font-size-h2: 3rem;

$font-size-h3-mobile: 2.4rem;
$font-size-h3: 2.2rem;

$font-size-h4-mobile: 1.8rem;
$font-size-h4: 1.8rem;

$font-size-blockquote: 2rem;

$font-weight-default: 400;
$font-weight-bold: 700;