/* ==========================================================================
   #FORM
   ========================================================================== */

$form-border-size: .2rem;

$form-checkbox-height: 2.2rem;
$form-checkbox-width: 2.2rem;

$form-checkbox-label-padding-left: 3rem;
$form-checkbox-label-after-border-width: 0 0 .3rem .3rem;
$form-checkbox-label-after-height: .7rem;
$form-checkbox-label-after-x-pos: .5rem;
$form-checkbox-label-after-y-pos: .6rem;
$form-checkbox-label-after-width: 1.2rem;

$form-radio-height: 2.2rem;
$form-radio-width: 2.2rem;

$form-radio-label-padding-left: 3rem;
$form-radio-label-after-border-width: .6rem;
$form-radio-label-after-x-pos: .5rem;
$form-radio-label-after-y-pos: .5rem;

$form-element-padding-horizontal: .5rem;
$form-element-padding-vertical: .5rem;