<p><a href="https://www.google.co.uk/">Default anchor link</a></p>

<p><a class="link--plain" href="https://www.google.co.uk/">Plain link</a> - <em>removes borders and underlines. Inherits text colour.</em></p>

<p><a class="link--cta" href="https://www.google.co.uk/">Default CTA</a></p>

<p><a class="link--cta link--cta-primary" href="https://www.google.co.uk/">Primary CTA</a></p>

<p><a class="link--cta link--cta-secondary" href="https://www.google.co.uk/">Secondary CTA</a></p>

