/*  ==========================================================================
    #CAROUSEL/VARIABLES
    ========================================================================== */

$carousel-indicator-size: 2rem;

$carousel-nav-btn-x: 35px;
$carousel-nav-btn-x-mobile: 15px;

$carousel-item-background-scale: scale3d(1, 1, 1);
$carousel-item-background-scale-hover: scale3d(1, 1, 1);
$carousel-item-background-transition: all 3s ease-in-out;

:root {
    --carouselPagerHoverDuration: var(--animationDuration);
    --carouselPagerNextPrevBtnHeight: 5rem;
    --carouselPagerNextPrevBtnWidth: 2.7rem;
    --carouselPagerBtnFill: var(--colorPrimary);

    --carouselRevealDuration: var(--animationDuration);
}
