/* ==========================================================================
   #CAROUSEL/VARIABLES
   ========================================================================== */

:root {
    --carouselIndicatorSize: 2rem;

    --carouselNavBtnX: 35px;
    --carouselNavBtnXMobile: 15px;

    --carouselPagerHoverDuration: var(--animationDuration);
    --carouselPagerNextPrevBtnHeight: 5rem;
    --carouselPagerNextPrevBtnWidth: 2.7rem;
    --carouselPagerBtnFill: var(--colorPrimary);

    --carouselItemBackgroundScale: scale3d(1, 1, 1);
    --carouselItemBackgroundScaleHover: scale3d(1, 1, 1);
    --carouselItemBackgroundTransition: all 3s ease-in-out;

    --carouselRevealDuration: var(--animationDuration);
}
