/*  ==========================================================================
    #CAROUSEL/VARIABLES
    ========================================================================== */

$carousel-button-animation-duration: 0.8s;
$carousel-button-hit-area: -1rem;

$carousel-indicator-size: 2rem;

$carousel-nav-btn-x: 35px;
$carousel-nav-btn-x-mobile: 15px;

$carousel-button-hover-translate-x: -1rem;

@include mq-add-breakpoint(carouselNextPreviousReposition, 480px);
