<div class="tiles tiles--two-cols columns--two" style="--tilesBackgroundColor:#f3f3f3;">
    <div class="tiles__item">
        <div class="tiles__item-skeleton"></div>
        <div class="tiles__item-children">
            <span class="image">
                <img src="/content/PatternLibrary/Logos/logo-apple.png" alt="Apple Logo">
            </span>
        </div>
    </div>

    <div class="tiles__item">
        <div class="tiles__item-skeleton"></div>
        <div class="tiles__item-children">
            <span class="image">
                <img src="/content/PatternLibrary/Logos/logo-microsoft.png" alt="Microsoft Logo">
            </span>
        </div>
    </div>

    <div class="tiles__item">
        <div class="tiles__item-skeleton"></div>
        <div class="tiles__item-children">
            <span class="image">
                <img src="/content/PatternLibrary/Logos/logo-sega.png" alt="Sega Logo">
            </span>
        </div>
    </div>

    <div class="tiles__item">
        <div class="tiles__item-skeleton"></div>
        <div class="tiles__item-children">
            <span class="image">
                <img src="/content/PatternLibrary/Logos/logo-sony.png" alt="Sony Logo">
            </span>
        </div>
    </div>
</div>