/* ==========================================================================
   #LIST/DEFAULT
   ========================================================================== */
   
.list {
    @include list-reset();
}