/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.list--navigation {
    display: flex;
    flex-direction: column;
    @include rem(min-width, 30rem);
    width: 100%;

    @include bp-min-width($bp-tablet) {
        display: flex;
        flex-direction: row;
        @include rem(padding-top, $list-navigation-top-padding);
    }

    a {
        @include content-gutter();
        display: block;
        padding-bottom: $list-navigation-anchor-padding-bottom;
        padding-top: $list-navigation-anchor-padding-top;

        @include themify($themes) {
            color: themed('color.black');
        }
        text-decoration: none;

        @include bp-min-width($bp-tablet) {
            @include rem(padding, .5rem 1rem);
        }

        &.is-current-page {
            @include themify($themes) {
                color: themed('color.brandPrimary');
            }
        }
    }

    > li {
        @include themify($themes) {
            border-bottom: $list-navigation-border-width solid darken(themed('color.greyLight'), 5%);
        }

        @include bp-min-width($bp-tablet) {
            @include themify($themes) {
                border-bottom: 0;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &.is-selected {
            .sub-list {
                display: block;
            }
        }
    }

    .has-sub-list {
        > a {
            align-items: center;
            display: flex;
            position: relative;

            &:after {
                content: "";
                height: $list-navigation-chevron-height;
                @include rem(margin-bottom, $list-navigation-chevron-margin-bottom);
                @include rem(margin-left, $list-navigation-chevron-margin-left);
                width: $list-navigation-chevron-width;

                background-image: url('../content/icon-chevron.svg');
                background-repeat: no-repeat;
                background-size: 100%;
                transform: translateY(50%);
            }
        }
    }

        .sub-list {
            display: none;

            @include themify($themes) {
                background-color: darken(themed('color.greyLight'), 5%);
            }

            @include bp-min-width($bp-tablet) {
                position: absolute;

                @include themify($themes) {
                    background-color: themed('color.white');
                }
            }

            a {
                padding-left: $spacing-large;

                @include bp-min-width($bp-tablet) {
                    @include rem(padding, .5rem 1rem);
                }
            }
        }
}