/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.list--navigation {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;

    @include bp-min-width($bp-tablet) {
        display: flex;
        flex-direction: row;
        @include rem(padding-top, $list-navigation-top-padding);
    }

    a {
        @include content-gutter();
        display: block;
        padding-bottom: $list-navigation-anchor-padding-bottom;
        padding-top: $list-navigation-anchor-padding-top;

        color: $color-black;
        text-decoration: none;

        @include bp-min-width($bp-tablet) {
            @include rem(padding, 5px 10px);
        }

        &.is-current-page {
            @include themify($themes) {
                color: themed('color.brandPrimary');
            }
        }
    }

    > li {
        border-bottom: 1px solid darken($color-grey-1, 5%);

        @include bp-min-width($bp-tablet) {
            border-bottom: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        &.is-selected {
            .sub-list {
                display: block;
            }
        }
    }

    .has-sub-list {
        > a {
            align-items: center;
            display: flex;
            position: relative;

            &:after {
                content: "";
                height: $list-navigation-chevron-height;
                @include rem(margin-bottom, $list-navigation-chevron-margin-bottom);
                @include rem(margin-left, $list-navigation-chevron-margin-left);
                width: $list-navigation-chevron-width;

                background-image: url('../content/icon-chevron.svg');
                background-repeat: no-repeat;
                background-size: 100%;
                transform: translateY(50%);
            }
        }
    }

        .sub-list {
            display: none;

            background-color: darken($color-grey-1, 5%);

            @include bp-min-width($bp-tablet) {
                position: absolute;

                background-color: $color-white;
            }

            a {
                padding-left: $spacing-large;

                @include bp-min-width($bp-tablet) {
                    @include rem(padding, 5px 10px);
                }
            }
        }
}