/* ==========================================================================
   #LIST/SETTINGS
   ========================================================================== */

$list-navigation-anchor-padding-bottom: 1rem;
$list-navigation-anchor-padding-top: 1.5rem;

$list-navigation-border-width: .1rem;

$list-navigation-top-padding: .5rem;

$list-navigation-chevron-height: .6rem;
$list-navigation-chevron-margin-bottom: .4rem;
$list-navigation-chevron-margin-left: .5rem;
$list-navigation-chevron-width: 1rem;