/* ==========================================================================
   #LIST/SETTINGS
   ========================================================================== */

$list-navigation-anchor-padding-bottom: 10px;
$list-navigation-anchor-padding-top: 15px;

$list-navigation-top-padding: 5px;

$list-navigation-chevron-height: 6px;
$list-navigation-chevron-margin-bottom: 4px;
$list-navigation-chevron-margin-left: 5px;
$list-navigation-chevron-width: 10px;