<div class="form-group">
    <fieldset class="fieldset" aria-describedby="checkbox-hint">
        <legend class="fieldset__legend">
            <h3 class="fieldset__heading">
                Checkboxes
            </h3>
        </legend>
        <span id="checkbox-hint" class="hint">
            Use hint text to provide additional context to the question.
        </span>
        <div class="checkboxes">
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="checkbox-example" name="checkbox-example" type="checkbox" value="option-1">
                <label class="label checkboxes__label" for="checkbox-example">
                    Option 1
                </label>
            </div>
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="checkbox-example-2" name="checkbox-example" type="checkbox" value="option-2">
                <label class="label checkboxes__label" for="checkbox-example-2">
                    Option 2
                </label>
            </div>
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="checkbox-example-3" name="checkbox-example" type="checkbox" value="option-3">
                <label class="label checkboxes__label" for="checkbox-example-3">
                    Option 3
                </label>
            </div>
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="checkbox-example-4" name="checkbox-example" type="checkbox" value="option-4">
                <label class="label checkboxes__label" for="checkbox-example-4">
                    Option 4
                </label>
            </div>
        </div>
    </fieldset>
</div>