/* ==========================================================================
   #FOOTER/DEFAULT
   ========================================================================== */

.footer {
    &__content {
        display: flex;
        flex-flow: column-reverse wrap;
        padding-bottom: $footer-content-padding-bottom;
        padding-top: $footer-content-padding-top;

        @include mq($from: tablet) {
            align-items: flex-start;
            flex-flow: row;
            justify-content: space-between;
        }
    }

    &__meta {
        width: 100%;

        @include mq($from: tablet) {
            margin-top: $content-gutter-small;
        }
    }

    &__logo {
        display: block;
        margin-bottom: $content-gutter-small;
        margin-right: auto;
        max-width: $footer-logo-width-mobile;
        position: relative;
        width: 100%;
        z-index: $z-index-front;

        @include mq($from: tablet) {
            max-width: $footer-logo-width;
        }

        img {
            display: block;
        }
    }

    nav,
    &__nav {
        border-top: 0;
        margin-bottom: $content-gutter;
        width: 100%;
        z-index: $z-index-default;

        background-color: transparent;

        @include mq($from: tablet) {
            margin-bottom: 0;
            width: auto;
        }
    }
}

.is-nav-visible {
    nav,
    .header__nav {
        display: block;
    }
}
