/* ==========================================================================
   #FOOTER/DEFAULT
   ========================================================================== */

.footer {
    padding-bottom: var(--footerPaddingVertical);
    padding-top: var(--footerPaddingVertical);

    background-color: var(--footerBackgroundColor);
    background-image: var(--footerBackgroundPattern);
    background-repeat: repeat;

    font-size: var(--footerFontSize);

    &__content {
        padding-bottom: $footer-content-padding-bottom;
        padding-top: $footer-content-padding-top;

        .flow__content {
            display: flex;
            flex-flow: column wrap;

            @include mq($from: tablet) {
                align-items: center;
                flex-flow: row;
                justify-content: space-between;
            }
        }
    }

    nav,
    &__nav {
        border-top: 0;
        margin-bottom: $content-gutter;
        width: 100%;
        z-index: $z-index-default;

        background-color: transparent;

        @include mq($from: tablet) {
            margin-bottom: 0;
            width: auto;
        }
    }

    h2,
    h3,
    h4 {
        font-size: var(--footerHeadingFontSize);
    }

    p {
        font-size: var(--footerFontSize);
    }

    ul {
        > li {
            margin-bottom: 0;
        }
    }

    .image {
        display: inline-block;
        vertical-align: middle;

        img {
            display: block;
            margin-bottom: $spacing-large;
            margin-right: $spacing-large;
            margin-top: $spacing-large;

            @include mq($from: desktopSmall) {
                margin-top: 0;
            }
        }
    }
}

.is-nav-visible {
    nav,
    .header__nav {
        display: block;
    }
}
