/* ==========================================================================
   #FOOTER/VARIABLES
   ========================================================================== */

$footer-content-padding-bottom: 3rem;
$footer-content-padding-top: 2rem;

:root {
    --footerBackgroundColor: transparent;
    --footerBackgroundPattern: none;
    --footerColorInverted: var(--colorTextInverted);
    --footerColorInvertedActive: var(--colorPrimary);
    --footerFontSize: var(--fontSizeSmall);
    --footerHeadingFontSize: var(--fontSizeBase);
    --footerPaddingVertical: 8rem;
}
