/* ==========================================================================
   #STYLED QUOTE/VARIABLES
   ========================================================================== */

:root {
    --styledQuoteFontSize: var(--fontSizeLarge);
    --styledQuoteLineHeight: var(--lineHeightHeading);
    --styledQuoteMargin: 0 0 var(--spacingDefault) 0;
    --styledQuotePadding: 0 0 0 0;
}
