<ul>
    <li>Item one
        <ul>
            <li>Sub-item one</li>
            <li>Sub-item two</li>
        </ul>
    </li>
    <li>Item two</li>
    <li>Item three</li>
</ul>

<ol>
    <li>Item one
        <ol>
            <li>Sub-item one</li>
            <li>Sub-item two</li>
        </ol>
    </li>
    <li>Item two</li>
    <li>Item three</li>
</ol>

<ul class="list">
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
</ul>