/* ==========================================================================
   #EDITOR TOOLBAR/DEFAULT
   ========================================================================== */

@use "sass-mq/mq";

.editor-toolbar {
    bottom: 0;
    left: 0;
    padding: var(--spacingDefault);
    position: fixed;
    width: 100%;
    z-index: var(--editorToolbarZIndex);

    background-color: var(--colorBlack);

    color: var(--colorWhite);

    @include mq.mq($from: tablet) {
        bottom: var(--gutterSmall);
        left: var(--gutterSmall);
        max-width: var(--editorToolbarMaxWidth);
        width: auto;

        border-radius: var(--editorToolbarBorderRadius);
    }
}

.editor-toolbar__content {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--contentWidthWide);
}
