/* ==========================================================================
   #EDITOR-TOOLBAR/DEFAULT
   ========================================================================== */

.editor-toolbar {
    bottom: 0;
    left: 0;
    padding: $spacing-default;
    position: fixed;
    width: 100%;
    z-index: var(--editorToolbarZIndex);

    background-color: var(--colorBlack);

    color: var(--colorWhite);

    @include mq($from: tablet) {
        bottom: $content-gutter-small;
        left: $content-gutter-small;
        max-width: var(--editorToolbarMaxWidth);
        width: auto;

        border-radius: var(--editorToolbarBorderRadius);
    }
}

.editor-toolbar__content {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
}
