/* ==========================================================================
   #EDITOR-TOOLBAR/SETTINGS
   ========================================================================== */

$editor-toolbar-border-radius: 6px;
$editor-toolbar-max-width: 40rem;
$editor-toolbar-z-index: 150;