/* ==========================================================================
   #EDITOR TOOLBAR/VARIABLES
   ========================================================================== */

:root {
    --editorToolbarBorderRadius: 6px;
    --editorToolbarMaxWidth: 40rem;
    --editorToolbarZIndex: 150;
}
