/* ==========================================================================
   #GRID/DEFAULT
   ========================================================================== */

/**
 * The default implementation uses a 3 column grid on desktop.
 */

.grid {
    @include list-reset();

    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter) * -1);
    margin-right: calc(var(--gutter) * -1);

    list-style: none;
}

.grid__item {
    margin-bottom: var(--gridItemMarginBottom);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    width: 100%;

    @include mq($from: tabletSmall) {
        max-width: 50%;
    }

    @include mq($from: desktopSmall) {
        max-width: 33.333%;
    }
}
