/* ==========================================================================
   #GRID/DEFAULT
   ========================================================================== */

/**
 * The default implementation uses a 3 column grid on desktop.
 */

.grid {
    @include list-reset();
    
    display: flex;
    flex-wrap: wrap;
    @include rem(margin-left, -$content-gutter-small);
    @include rem(margin-right, -$content-gutter-small);

    list-style: none;

    > .grid__item {
        @include rem(margin-bottom, $grid-default-item-margin-bottom);
        @include rem(padding-left, $content-gutter-small);
        @include rem(padding-right, $content-gutter-small);
        width: 100%;

        @include bp-min-width($bp-tablet-small) {
            max-width: 50%;
        }

        @include bp-min-width($bp-desktop-small) {
            max-width: 33.333%;
        }
    }
}