/* ==========================================================================
   #GRID/DOUBLE
   ========================================================================== */

/**
 * Creates a 2 column grid.
 */

.grid--double {
    .grid__item {
        @include mq($from: tabletSmall) {
            max-width: 50%;
        }
    }
}