/* ==========================================================================
   #GRID/GUTTER-SMALL
   ========================================================================== */

/**
 * Reduces the gutter size between grid items
 */

.grid--gutter-small {
    margin-left: -$content-gutter-small;
    margin-right: -$content-gutter-small;

    .grid__item {
        margin-bottom: $grid-gutter-small-margin-bottom;
        padding-left: $content-gutter-small;
        padding-right: $content-gutter-small;
    }
}