/* ==========================================================================
   #GRID/GUTTER-LARGE
   ========================================================================== */

/**
 * Increases the gutter size between grid items
 */

.grid--gutter-large {
    margin-left: calc(var(--gutterLarge) * -1);
    margin-right: calc(var(--gutterLarge) * -1);

    .grid__item {
        margin-bottom: var(--gridItemMarginBottomLarge);
        padding-left: var(--gutterLarge);
        padding-right: var(--gutterLarge);
    }
}
