/* ==========================================================================
   #GRID/GUTTER-LARGE
   ========================================================================== */

/**
 * Increases the gutter size between grid items
 */

.grid--gutter-large {
    margin-left: -var(--gutterLarge);
    margin-right: -var(--gutterLarge);

    .grid__item {
        margin-bottom: $grid-gutter-large-margin-bottom;
        padding-left: var(--gutterLarge);
        padding-right: var(--gutterLarge);
    }
}
