/* ==========================================================================
   #GRID/GUTTER-LARGE
   ========================================================================== */

/**
 * Increases the gutter size between grid items
 */

.grid--gutter-large {
    margin-left: -$content-gutter-large;
    margin-right: -$content-gutter-large;

    .grid__item {
        margin-bottom: $grid-gutter-large-margin-bottom;
        padding-left: $content-gutter-large;
        padding-right: $content-gutter-large;
    }
}
