/* ==========================================================================
   #GRID/GUTTER-SMALL
   ========================================================================== */

/**
 * Reduces the gutter size between grid items
 */

.grid--gutter-small {
    margin-left: calc(var(--gutterSmall) * -1);
    margin-right: calc(var(--gutterSmall) * -1);

    .grid__item {
        margin-bottom: $grid-gutter-small-margin-bottom;
        padding-left: var(--gutterSmall);
        padding-right: var(--gutterSmall);
    }
}
