/* ==========================================================================
   #GRID/NO-GUTTER
   ========================================================================== */

/**
 * Removes negative margins from the grid and padding from the grid items.
 */

.grid--no-gutter {
    margin-left: 0;
    margin-right: 0;

    > .grid__item {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}