/* ==========================================================================
   #GRID/QUAD
   ========================================================================== */

/**
 * Creates a 4 column grid.
 */

.grid--quad {
    .grid__item {
        @include mq($from: tabletSmall) {
            max-width: 50%;
        }

        @include mq($from: desktopSmall) {
            max-width: 25%;
        }
    }
}