/* ==========================================================================
   #GRID/SETTINGS
   ========================================================================== */

$grid-gap-master: $content-gutter;
$grid-gap-master-small: $content-gutter-small;

$grid-default-item-margin-bottom: $content-gutter * 2;