/* ==========================================================================
   #GRID/VARIABLES
   ========================================================================== */

$grid-gap-master: var(--gutter);
$grid-gap-master-small: var(--gutterSmall);

$grid-default-item-margin-bottom: var(--gutter) * 2;

$grid-gutter-large-margin-bottom: var(--gutterLarge) * 2;
$grid-gutter-small-margin-bottom: var(--gutter);
