/* ==========================================================================
   #GRID/VARIABLES
   ========================================================================== */

$grid-gap-master: $content-gutter;
$grid-gap-master-small: $content-gutter-small;

$grid-default-item-margin-bottom: $content-gutter * 2;

$grid-gutter-large-margin-bottom: $content-gutter-large * 2;
$grid-gutter-small-margin-bottom: $content-gutter;
