/* ==========================================================================
   #GRID/VARIABLES
   ========================================================================== */

:root {
    --gridItemMarginBottomSmall: var(--gutterSmall);
    --gridItemMarginBottom: var(--gutter);
    --gridItemMarginBottomLarge: var(--gutterLarge);
}
