<nav class="nav nav--social">
    <ul class="list list--horizontal nav__items">
        <li class="nav__item">
            <a href="#"><img src="/content/PatternLibrary/logo-discord.svg" alt="Discord logo"></a>
        </li>
        <li class="nav__item">
            <a href="#"><img src="/content/PatternLibrary/logo-facebook.svg" alt="Facebook logo"></a>
        </li>
        <li class="nav__item">
            <a href="#"><img src="/content/PatternLibrary/logo-reddit.svg" alt="Reddit logo"></a>
        </li>
        <li class="nav__item">
            <a href="#"><img src="/content/PatternLibrary/logo-twitter.svg" alt="Twitter logo"></a>
        </li>
    </ul>
</nav>
