<ul class="list list--horizontal nav--social">
    <li class="nav__item">
        <a href="#" aria-haspopup="true" aria-expanded="false"><img src="/content/PatternLibrary/logo-discord.svg" alt="Discord logo"></a>
    </li>
    <li class="nav__item">
        <a href="#" aria-haspopup="true" aria-expanded="false"><img src="/content/PatternLibrary/logo-facebook.svg" alt="Facebook logo"></a>
    </li>
    <li class="nav__item">
        <a href="#" aria-haspopup="true" aria-expanded="false"><img src="/content/PatternLibrary/logo-reddit.svg" alt="Reddit logo"></a>
    </li>
    <li class="nav__item">
        <a href="#" aria-haspopup="true" aria-expanded="false"><img src="/content/PatternLibrary/logo-twitter.svg" alt="Twitter logo"></a>
    </li>
</ul>