<p>Always use the CSS variables over hardcoded values.</p>

<ul class="list list--horizontal-spaced">
    <li>
        <div class="swatch bg--color-primary">
            <pre>$color-primary<span>#3ce854</span></pre>
        </div>
    </li>
    <li>
        <div class="swatch bg--color-secondary">
            <pre>$color-secondary<span>#070f26</span></pre>
        </div>
    </li>
</ul>