<p>Always use the variable over hardcoded value in Sass files.</p>

<ul class="list list--horizontal-spaced">
    <li>
        <div class="color bg--color-primary">
            <pre>$color-brand-primary<span>#3ce854</span></pre>
        </div>
    </li>
    <li>
        <div class="color bg--color-secondary">
            <pre>$color-brand-secondary<span>#070f26</span></pre>
        </div>
    </li>
</ul>