/* ==========================================================================
   #CARD
   ========================================================================== */

.card {
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &__body {
        @include rem(padding-top, $content-gutter-small);
    }
}