/* ==========================================================================
   #COLOR
   ========================================================================== */

.color {
    @include rem(padding-top, $color-swatch-height);

    pre {
        margin-bottom: 0;
        @include rem(padding, $spacing-default);
        
        @include themify($themes) {
            background-color: themed('color.greyLight');
        }
        text-align: center;

        span {
            display: block;
        }
    }
}