/* ==========================================================================
   #SETTINGS
   ========================================================================== */

$color-swatch-height: 100px;

$hero-media-max-height: 90vh;
$hero-media-min-width: 250vw;

$hero-title-span-opacity: .3;
$hero-title-padding-bottom: .5rem;
$hero-title-padding-horizontal: 1.5rem;