/* ==========================================================================
   #SETTINGS
   ========================================================================== */

$color-swatch-height: 100px;

$section-vertical-padding-mobile: 60px;
$section-vertical-padding: 90px;