/* ==========================================================================
   #HEADER/DEFAULT
   ========================================================================== */

/**
 * 1. Prevents navigation submenus from appearing below any other z-indexed
 *    components.
 */
.header {
    position: relative; /* 1. */
    z-index: $z-index-front; /* 1. */
    
    &__content {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        padding-bottom: $header-content-padding-top;
        padding-top: $header-content-padding-top;

        @include mq($from: desktop) {
            align-items: flex-end;
        }
    }

        &__logo {
            max-width: $header-logo-width-mobile;
            margin-right: auto;
            position: relative;
            width: 100%;
            z-index: $z-index-front;

            @include mq($from: tablet) {
                max-width: $header-logo-width;
            }

            img {
                display: block;
            }
        }

        &__nav-button {
            align-items: center;
            display: flex;
            cursor: pointer;
            position: relative;
            z-index: $z-index-front;
        
            @include mq($from: tablet) {
                display: none;
            }

            &:before {
                content: "";
                height: $header-nav-button-height;
                margin-right: $header-nav-button-margin-right;
                width: $header-nav-button-width;

                background-image: url('../content/icon-menu.svg');
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }

        &__nav {
            display: none;
            height: 100vh;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: $z-index-default;

            border-top-style: solid;
            border-top-width: $header-nav-padding-top;

            @include themify($themes) {
                background-color: themed('color.greyLight');
                border-top-color: themed('color.white');
            }

            @include mq($from: tablet) {
                display: block;
                height: auto;
                padding-top: 0;
                position: static;
                width: auto;

                @include themify($themes) {
                    background-color: transparent;
                }

                border-top: 0;
            }
        }
}

.is-nav-visible {
    .header__nav {
        display: block;
    }
}