/* ==========================================================================
   #HEADER/FIXED
   ========================================================================== */

.header--fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: var(--zIndexNav);
}
