/* ==========================================================================
   #HEADER/SETTINGS
   ========================================================================== */

$header-logo-width-mobile: 10rem;
$header-logo-width: 15rem;

$header-content-padding-top: 2rem;

$header-nav-button-height: 1.4rem;
$header-nav-button-margin-right: .5rem;
$header-nav-button-width: 2.1rem;

$mobile-nav-padding-top: 7rem;