/* ==========================================================================
   #HEADER/SETTINGS
   ========================================================================== */

$header-logo-width-mobile: 100px;
$header-logo-width: 150px;

$header-content-padding-top: 20px;

$header-nav-button-height: 14px;
$header-nav-button-margin-right: 5px;
$header-nav-button-width: 21px;

$mobile-nav-padding-top: 100px;