<div class="form-group">
    <label class="label" for="sort">
        Select
    </label>
    <select class="select" id="sort" name="sort">
        <option value="option-1" selected>Option 1</option>
        <option value="option-2">Option 2</option>
        <option value="option-3">Option 3</option>
        <option value="option-4">Option 4</option>
    </select>
</div>