/* ==========================================================================
   #CONTENT FEED/DEFAULT
   ========================================================================== */

@use "sass:math";

.content-feed {
    &__header {
        margin-bottom: var(--spacingLarge);
        margin-left: auto;
        margin-right: auto;
        max-width: $content-width;

        @include mq($from: tablet) {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        @include mq($from: desktop) {
            margin-bottom: var(--spacingXLarge);
        }
    }

    &__title {
        margin-bottom: var(--spacingDefault);

        text-transform: var(--contentFeedTitleTextTransform);

        @include mq($from: tablet) {
            margin: 0;
        }
    }

    &__filters {
        align-items: flex-end;
        display: flex;
        flex-flow: row wrap;
        margin: 0 calc(var(--gutter) * -1);
    }

    &__filter {
        border-left: var(--gutter) solid transparent;
        border-right: var(--gutter) solid transparent;
        margin-bottom: var(--spacingDefault);
    }

    &__list {
        display: flex;
        flex-flow: row wrap;

        margin: 0 (calc(var(--gutter) / 2 * -1));
    }

    &__item {
        flex-basis: 100%;
        border-left: calc(var(--gutter) / 2) solid transparent;
        border-right: calc(var(--gutter) / 2) solid transparent;
        margin-bottom: var(--gutter);
    }
}
