/* ==========================================================================
   #CONTENT FEED/DEFAULT
   ========================================================================== */

@use 'sass:math';

.content-feed {
    &__header {
        margin-bottom: $spacing-large;
        margin-left: auto;
        margin-right: auto;
        max-width: $content-width;

        @include mq($from: tablet) {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        @include mq($from: desktop) {
            margin-bottom: $spacing-x-large;
        }
    }

    &__title {
        margin-bottom: $spacing-default;

        text-transform: var(--contentFeedTitleTextTransform);

        @include mq($from: tablet) {
            margin: 0;
        }
    }

    &__filters {
        align-items: flex-end;
        display: flex;
        flex-flow: row wrap;
        margin: 0 (-$spacing-default);
    }

    &__filter {
        border-left: $spacing-default solid transparent;
        border-right: $spacing-default solid transparent;
        margin-bottom: $spacing-default;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;

        margin: 0 (-(math.div($gutter, 2)));
    }

    &__item {
        flex-basis: 100%;
        border-left: math.div($gutter, 2) solid transparent;
        border-right: math.div($gutter, 2) solid transparent;
        margin-bottom: $gutter;
    }
}
