/* ==========================================================================
   #ALERT/DEFAULT
   ========================================================================== */

.alert {
    padding-bottom: $alert-message-padding-bottom;
    padding-top: $alert-message-padding-top;

    /* Maintain horizontal padding */
    @include mq($from: contentWideWithGutter) {
        padding-left: $content-gutter-small;
        padding-right: $content-gutter-small;
    }

    @include themify($themes) {
        background-color: themed('color.alert.defaultBackground');
    }

    a {
        @include themify($themes) {
            color: inherit;
        }
    }
}