/* ==========================================================================
   #ALERT/DEFAULT
   ========================================================================== */

.alert {
    @include content-gutter;
    margin-left: auto;
    margin-right: auto;
    @include rem(padding-bottom, $alert-message-padding-bottom);
    @include rem(padding-top, $alert-message-padding-top);
    @include rem(max-width, $content-width-wide);
    width: 100%;

    @include themify($themes) {
        background-color: themed('color.alert.defaultBackground');
    }

    a {
        @include themify($themes) {
            color: inherit;
        }
    }
}