/* ==========================================================================
   #SETTINGS
   ========================================================================== */

$alert-pos-y: 2rem;
$alert-margin-top: 2rem;
$alert-message-margin-right: 2rem;
$alert-message-min-height: 5.2rem;
$alert-message-padding-bottom: 1.6rem;
$alert-message-padding-horizontal: 2rem;
$alert-message-padding-top: 1.4rem;