/* ==========================================================================
   #VARIABLES
   ========================================================================== */

:root {
    --alertPosY: 2rem;
    --alertMessagePaddingBottom: 1.6rem;
    --alertMessagePaddingTop: 1.4rem;
}
