/* ==========================================================================
   #ICON/FLAG
   ========================================================================== */

.icon--flag {
    margin-right: var(--iconFlagMarginRight);
    width: var(--iconFlagWidth);

    border-radius: var(--iconFlagBorderRadius);
}
