/* ==========================================================================
   #ICON/FLAG
   ========================================================================== */

.icon--flag {
    margin-right: $icon-flag-margin-right;
    width: $icon-flag-width;
    
    border-radius: $icon-flag-border-radius;
}