/* ==========================================================================
   #ICON/VARIABLES
   ========================================================================== */

:root {
    --iconFlagBorderRadius: 0.3rem;
    --iconFlagMarginRight: 0.5rem;
    --iconFlagWidth: 2rem;
}
