/* ==========================================================================
   #ICON/VARIABLES
   ========================================================================== */

$icon-flag-border-radius: .3rem;
$icon-flag-margin-right: .5rem;
$icon-flag-width: 2rem;
