/* ==========================================================================
   #ICON/VARIABLES
   ========================================================================== */

$icon-flag-border-radius: 0.3rem;
$icon-flag-margin-right: 0.5rem;
$icon-flag-width: 2rem;
