{{render '@header'}}

<section class="hero hero--horizontal-left hero--vertical-center">
    <div class="hero__body constrain">
        <div class="flow">
            <div class="flow__content">
                <div class="width--66">
                    <h2>About Etch Play</h1>
                </div>
                <div class="width--66">
                    <p>Explore and survive in an infinite procedurally generated universe</p>
                    <a class="btn btn--primary" href="#">Discover more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <picture>
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 769px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
            <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
        </picture>
    </div>
</section>

<section class="section padding--bottom-none">
    <div class="constrain">

        <p>We are a BAFTA-winning, independent game developer with a reputation for innovation in both storytelling and
            VR. We have released a number of successful titles and are best known for the critically acclaimed PS4 hit
            Until Dawn and the recently launched The Dark Pictures Anthology. The latter is a series of stand-alone,
            horror games for PS4, Xbox and PC. The first game is Man of Medan.</p>

        <p>Founded in 2008, the studio is now home to over 150 talented individuals working across a range of
            storytelling titles. We've built a track record of high-end production backed up with delivery and
            reliability. We teamed up with ITN Productions and games trade body TIGA to create this video that explains
            more about us and how we work.</p>

    </div>
</section>

<section class="section section--center padding--bottom-none">
    <div class="constrain constrain--wide">

        <div class="grid">
            <div class="grid__item">

                <h3 class="section__title">Innovation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis
                    luctus, enim nulla suscipit sapien.</p>

            </div>
            <div class="grid__item">

                <h3 class="section__title">Quality</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis
                    luctus, enim nulla suscipit sapien.</p>

            </div>

            <div class="grid__item">

                <h3 class="section__title">Honesty</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis
                    luctus, enim nulla suscipit sapien.</p>

            </div>
        </div>

        <div class="grid">
            <div class="grid__item">

                <h3 class="section__title">Innovation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis
                    luctus, enim nulla suscipit sapien.</p>

            </div>
            <div class="grid__item">

                <h3 class="section__title">Quality</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis
                    luctus, enim nulla suscipit sapien.</p>

            </div>

            <div class="grid__item">

                <h3 class="section__title">Honesty</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis
                    luctus, enim nulla suscipit sapien.</p>

            </div>
        </div>

    </div>
</section>

<img src="/content/PatternLibrary/Dividers/divider-curves-1-transparent-to-durban-blue-2560w.svg" alt="Divider" />

<section class="section margin--bottom-none padding--bottom-large bg--color-black color--white">
    <div class="constrain constrain--wide">

        <div class="grid grid--double">
            <div class="grid__item parallax" data-rellax-percentage="0.5" data-rellax-speed="2">

                <h2 class="section__title">Section Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis
                    luctus, enim nulla suscipit sapien, in fermentum mi lacus eu lorem. Nam libero risus, euismod eu
                    gravida vel, ullamcorper vitae neque. In sollicitudin aliquet mattis. Donec at varius erat. Nunc nec
                    egestas tortor. Praesent quis dapibus risus. Aliquam erat lorem, accumsan sed efficitur ut,
                    venenatis et diam.</p>
                <a href="#">Learn more</a>

            </div>
            <div class="grid__item">

                <img src="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" />

            </div>
        </div>

    </div>
</section>

<picture>
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 376px)">
    <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
</picture>

<section class="section">
    <div class="constrain constrain--wide">

        <h2>Meet the team</h2>

        <p class="margin--bottom-large" style="max-width: 60rem;">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Aliquam ullamcorper, metus at venenatis luctus, enim nulla suscipit sapien, in fermentum mi lacus eu
            lorem.</p>

        <div class="grid grid--no-gutter grid--no-wrap align--full padding--top-large">
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-1-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-2-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-3-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-4-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-5-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-6-768w.jpg" alt="A description of the image" />
            </div>
        </div>

        <div class="grid grid--no-gutter grid--no-wrap align--full">
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-7-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-8-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-9-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-10-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-11-768w.jpg" alt="A description of the image" />
            </div>
            <div class="grid__item">
                <img src="/content/PatternLibrary/Team/team-placeholder-12-768w.jpg" alt="A description of the image" />
            </div>
        </div>

        <p class="padding--top text--align-center"><em><a class="link--text"
                    href="https://www.openpeeps.com/">OpenPeeps.com</a> - a hand-drawn illustration library, free for
                commercial and personal use.</em></p>

    </div>
</section>

<img src="/content/PatternLibrary/Dividers/divider-jagged-1-transparent-to-grey-2560w.svg" alt="Divider" />

<section class="section margin--bottom-none bg--color-grey-light">
    <div class="constrain constrain--wide">

        <h2>We're currently looking for...</h2>

        <div class="grid grid--gutter-small">
            <div class="grid__item">

                <div class="card card--equal-height">
                    <div class="card__body">
                        <header class="card__header">
                            <h3 class="card__title">Camera Artist</h3>
                        </header>
                        <p>Permanent / 6 Months Fixed-Term</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--equal-height">
                    <div class="card__body">
                        <header class="card__header">
                            <h3 class="card__title">Front End / UI Artist</h3>
                        </header>
                        <p>Permanent</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--equal-height">
                    <div class="card__body">
                        <header class="card__header">
                            <h3 class="card__title">Senior Character Artist</h3>
                        </header>
                        <p>Permanent</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--equal-height">
                    <div class="card__body">
                        <header class="card__header">
                            <h3 class="card__title">Audio Designer</h3>
                        </header>
                        <p>Permanent</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--equal-height">
                    <div class="card__body">
                        <header class="card__header">
                            <h3 class="card__title">Presentation Manager</h3>
                        </header>
                        <p>Permanent</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--equal-height">
                    <div class="card__body">
                        <header class="card__header">
                            <h3 class="card__title">Game Systems Programmer</h3>
                        </header>
                        <p>Permanent / 6 Months Fixed-Term</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<img src="/content/PatternLibrary/Dividers/divider-blocks-1-grey-to-transparent-2560w.svg" alt="Divider" />

{{render '@footer'}}