{{render '@header'}}

<section class="hero hero--horizontal-left hero--vertical-center">
    <div class="hero__body constrain">
        <div class="flow">
            <div class="flow__content">
                <div class="width--33">
                    <h2>Game 1 Title</h1>
                    <p>Explore and survive in an infinite procedurally generated universe</p>
                    <a class="btn btn--primary" href="#">Discover more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <picture>
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 769px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
            <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
        </picture>
    </div>
</section>

<section class="hero hero--horizontal-center hero--vertical-center">
    <div class="hero__body constrain">
        <div class="flow">
            <div class="flow__content">
                <div class="width--33">
                    <h2>Game 2 Title</h1>
                    <p>Explore and survive in an infinite procedurally generated universe</p>
                    <a class="btn btn--primary" href="#">Discover more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <picture>
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 769px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
            <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
        </picture>
    </div>
</section>

<section class="hero hero--horizontal-right hero--vertical-center">
    <div class="hero__body constrain">
        <div class="flow">
            <div class="flow__content">
                <div class="width--33">
                    <h2>Game 2 Title</h1>
                    <p>Explore and survive in an infinite procedurally generated universe</p>
                    <a class="btn btn--primary" href="#">Discover more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <picture>
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 769px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
            <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
        </picture>
    </div>
</section>

{{render '@footer'}}