{{render '@header'}}

<section class="hero">
    <div class="hero__body parallax" data-rellax-percentage="0.5" data-rellax-speed="2">
        <h1 class="hero__title"><span>Work at Etch Play</span></h1>
    </div>

    <div class="hero__media">
        <div class="embed embed--ratio-16-9">
            <div class="embed__source">
                <iframe src='https://player.vimeo.com/video/68760025?background=1'></iframe>
            </div>
        </div>
    </div>
</section>

<section class="section bg--color-black">
    <div class="constrain constrain--wide">

        <h2 class="text--align-center color--white">We're currently looking for...</h2>

        <div class="grid grid--gutter-small">
            <div class="grid__item">

                <div class="card card--job">
                    <div class="card__body">
                        <h3 class="section__title">Camera Artist</h3>
                        <p>Permanent / 6 Months Fixed-Term</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--job">
                    <div class="card__body">
                        <h3 class="section__title">Front End / UI Artist</h3>
                        <p>Permanent</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--job">
                    <div class="card__body">
                        <h3 class="section__title">Senior Character Artist</h3>
                        <p>Permanent</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--job">
                    <div class="card__body">
                        <h3 class="section__title">Audio Designer</h3>
                        <p>Permanent</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--job">
                    <div class="card__body">
                        <h3 class="section__title">Presentation Manager</h3>
                        <p>Permanent</p>
                    </div>
                </div>

            </div>
            <div class="grid__item">

                <div class="card card--job">
                    <div class="card__body">
                        <h3 class="section__title">Game Systems Programmer</h3>
                        <p>Permanent / 6 Months Fixed-Term</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="constrain">

        <h2>Studio life</h2>

        <p>We are a BAFTA-winning, independent game developer with a reputation for innovation in both storytelling and
            VR. We have released a number of successful titles and are best known for the critically acclaimed PS4 hit
            Until Dawn and the recently launched The Dark Pictures Anthology. The latter is a series of stand-alone,
            horror games for PS4, Xbox and PC. The first game is Man of Medan.</p>

        <p>Founded in 2008, the studio is now home to over 150 talented individuals working across a range of
            storytelling titles. We've built a track record of high-end production backed up with delivery and
            reliability. We teamed up with ITN Productions and games trade body TIGA to create this video that explains
            more about us and how we work.</p>

    </div>
</section>

<section class="section padding--bottom-none padding--top-none">
    <div class="grid grid--double grid--no-gutter">
        <div class="grid__item">

            <picture>
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 376px)">
                <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
            </picture>

        </div>
        <div class="grid__item">

            <picture>
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
                <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 376px)">
                <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
            </picture>

        </div>
    </div>
</section>

<section class="section padding--bottom-large bg--color-grey-light">
    <div class="constrain constrain--wide">

        <div class="grid grid--double">
            <div class="grid__item">

                <img src="/content/PatternLibrary/Team/team-placeholder-1-768w.jpg" alt="A description of the image" />

            </div>
            <div class="grid__item align-self--center parallax" data-rellax-percentage="0.5" data-rellax-speed="2">

                {{> '@blockquote'}}

            </div>
        </div>

    </div>
</section>

<picture>
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 376px)">
    <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
</picture>

{{render '@footer'}}