{{render '@header'}}

<section class="section">
    <div class="constrain">

        <h1 class="padding--bottom-large">Drop us a line</h1>

        {{> '@form-contact'}}

    </div>
</section>

<img src="/content/PatternLibrary/Dividers/divider-blocks-1-transparent-to-durban-blue-2560w.svg" alt="Divider" />

<section class="section section--center margin--bottom-none padding--bottom-large bg--color-black color--white">
    <div class="constrain constrain--wide">

        <div class="grid">
            <div class="grid__item">
                <h3>Etch Southampton</h3>
                <p>+44 23 8000 4800<br>
                    Suite R Medina Chambers<br>
                    Town Quay<br>
                    Southampton<br>
                    SO14 2AQ</p>
            </div>
            <div class="grid__item">
                <h3>Etch Cape Town</h3>
                <p>+27 21 3008027<br>
                    11th - 14th Floor Touchstone House<br>
                    7 Bree Street<br>
                    Cape Town 8001<br>
                    South Africa</p>
            </div>
            <div class="grid__item">
                <h3>Etch London</h3>
                <p>+44 20 3475 1730<br>
                    7-9 Woodbridge Street<br>
                    Clerkenwell<br>
                    London<br>
                    EC1R 0LL</p>
            </div>
        </div>

    </div>
</section>

<img src="/content/PatternLibrary/Dividers/divider-curves-1-durban-blue-to-transparent-2560w.svg" alt="Divider" />

{{render '@footer'}}