{{render '@header'}}

<article>

    <section class="section section--wide padding--bottom padding--top-large text--align-center">
        <div class="section__content">

            <h1 class="margin--bottom">Article Heading</h1>
            
            <p>By <strong>Alistair Jones</strong> on 16 Oct 2019</p>

        </div>
    </section>

    <section class="section padding--top-large">
        <div class="section__content">

            <p>Donec rhoncus nisi non metus hendrerit, eu bibendum augue ultricies. Integer ut lacinia tellus. Aenean nisl urna, pellentesque non diam ac, lobortis lobortis lectus. Sed ullamcorper eros id vestibulum commodo. Fusce convallis dolor quis faucibus rutrum. Nam in odio id justo venenatis dictum. Aenean dignissim blandit nulla, quis consequat purus ullamcorper non.</p>
            
            <p class="margin--bottom-large">Mauris interdum, quam vel bibendum molestie, massa magna vestibulum arcu, a pellentesque sapien felis nec elit. Cras condimentum auctor congue. Aliquam non laoreet lectus. In in nisl id ligula pulvinar tristique.</p>

            <figure class="align--wide margin--bottom-large">
                <img src="/content/PatternLibrary/unsplash-1444090542259-3300w.jpg" alt="A description of the image" />
                <figcaption>The image fills the width of its parent.</figcaption>
            </figure>

            <p class="margin--bottom-large">Vestibulum scelerisque mauris scelerisque arcu tincidunt lacinia. Donec luctus facilisis ex. Pellentesque ligula est, scelerisque sagittis nisi non, semper laoreet orci. Vestibulum sollicitudin vitae orci nec facilisis. Integer eu posuere dui, non pulvinar magna.</p>

            <h2>Article subheading</h2>
            
            <p>Aenean porttitor mollis urna, iaculis tristique orci rutrum et. Phasellus elementum, erat ut aliquam facilisis, dolor urna congue ligula, eu ultricies purus tortor eget lorem.</p>
            
            <p>Fusce sit amet magna justo. In fermentum ipsum id metus rhoncus consequat eget vitae ligula. Quisque rutrum gravida vestibulum. Pellentesque eleifend imperdiet tincidunt.</p>
            
            <p>Aliquam ut purus a magna placerat dictum. Pellentesque risus magna, dignissim nec eros nec, mattis consequat velit. Integer sodales massa eu egestas interdum. Ut cursus, libero at pretium tincidunt, arcu erat elementum massa, vel pulvinar velit diam eu lorem.</p>

            <hr class="margin--bottom-large margin--top-large">

            <ul class="list list--horizontal-spaced">
                <li>
                    <strong>Tags:</strong>
                </li>
                <li>
                    <a href="#">Featured</a>
                </li>
                <li>
                    <a href="#">PC</a>
                </li>
                <li>
                    <a href="#">Mobile</a>
                </li>
                <li>
                    <a href="#">Games</a>
                </li>
            </ul>

        </div>
    </section>

</article>

<section class="section section--wide padding--top-large">
    <div class="section__content">

        <h3 class="padding--bottom-large">Further reading</h3>

        <div class="grid">
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
        </div>

    </div>
</section>