<p>This sentence contains a <a href="#">link</a>.</p>

<p>This sentence contains a <strong>bold</strong> word.</p>

<p>This sentence contains a <em>italic</em> word.</p>

<p>This sentence contains a <em>underlined</em> word.</p>

<p><span class="text--line-through">This sentence has a line through it</span>. Nice.</p>

<p>This sentence has <mark>highlighted text</mark>.</p>