{% if Model.ContentItem.Content.Page.DisplayTitle.Value %}
    {{ Model.Header | shape_render }}
{% endif %}

{{ Model.Content | shape_render }}

{{ Model.ContentItem.CreatedUtc | ordinal_day }}

{% if Environment.IsDevelopment %}
    <p>This is a development environment.</p>
{% endif %}
