{% assign linkTo = Content.ContentItemId[Model.ContentItem.Content.ContentMenuItem.LinkTo.ContentItemIds] %}
{% assign currentPageUrl = Request.PathBase | append: Request.Path %}
{% assign displayUrl = linkTo | display_url %}

{% if currentPageUrl == displayUrl %}
    <a href="{{ displayUrl }}" class="is-current-page">
        {{ linkTo | display_text }}
    </a>
{% else %}
    <a href="{{ displayUrl }}">
        {{ linkTo | display_text }}
    </a>
{% endif %}