{% assign cssClasses = "nav__item" %}

{% if Model.HasItems %}
    {% assign cssClasses = "nav__item nav__item--parent" %}
{% endif %}

<li class="{{ cssClasses }}">
    {% shape_clear_alternates Model %}
    {% shape_type Model "MenuItemLink" %}
    {{ Model | shape_render }}

    {% if Model.HasItems %}
        <div class="nav__sub">
            <ul class="nav__sub-items">
                {% for item in Model.Items %}
                    {{ item | shape_render }}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</li>