{% assign link = Model.ContentItem.Content.LinkMenuItemPart %}

{% if Model.HasItems == "true" %}
    <a href="{{ link.Url | href }}" aria-haspopup="true" aria-expanded="false" class="js-nav-parent-link">
        {{ link.Name }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 158.2">
            <path d="M225.8 0L128 97.8 30.2 0 0 30.2l128 128 128-128z"/>
        </svg>
    </a>
{% else %}
    <a href="{{ link.Url | href }}">{{ link.Name }}</a>
{% endif %}
