{% assign link = Model.ContentItem.Content.LinkMenuItemPart %}

{% if Model.HasItems == "true" %}
    <a href="{{ link.Url | href }}" aria-haspopup="true" aria-expanded="false" class="js-nav-parent-link">{{ link.Name }}</a>
{% else %}
    <a href="{{ link.Url | href }}">{{ link.Name }}</a>
{% endif %}