{% assign jobs = Queries.ContentItems | query: contentType: "Job", from: 0, size: Model.ContentItem.Content.Jobs.Quantity.Value %}

<div class="grid grid--gutter-small align--wide color--default">
	{% for item in jobs %}
    <div class="grid__item">
		<div class="card card--equal-height">
            <div class="card__body text--align-left">
                <div class="card__title-area">
                    <h3 class="card__title">{{ item | display_text }}</h3>
                </div>
                <p>{{ item.Content.Job.Length.Text }}</p>
            </div>
        </div>
    </div>
	{% endfor %}
</div>
