{% assign linkUrl = Model.ContentItem.Content.Link.Url.Text %}
{% assign text = Model.ContentItem.Content.Link.Text.Text %}
{% assign openInNewWindow = Model.ContentItem.Content.Link.OpenInNewWindow.Value %}
{% assign style = Model.ContentItem.Content.Link.Style.Text %}

{% if style != null and style != 'default' %}
    {% assign cssClasses = 'btn btn--' | append: style %}
{% endif %}

<a href="{{ linkUrl }}" {% if openInNewWindow %} target="_blank" {% endif %} class="{{ cssClasses }}">{{ text }}</a>