{% assign cssClasses = "section" %}
{% assign constrainClasses = "constrain" %}

{% assign alignment = Model.ContentItem.Content.Section.Alignment.Text %}
{% assign backgroundColour = Model.ContentItem.Content.Section.BackgroundColour.Text %}
{% assign contentWidth = Model.ContentItem.Content.Section.ContentWidth.Text %}

{% if alignment != null and alignment != 'default' %}
    {% assign alignmentClass = ' section--' | append: alignment %}
    {% assign cssClasses = alignmentClass | prepend: cssClasses %}
{% endif %}

{% if backgroundColour != null and backgroundColour != 'default' %}
    {% assign backgroundColorClass = ' bg--color-' | append: backgroundColour %}
    {% assign cssClasses = backgroundColorClass | prepend: cssClasses %}
{% endif %}

{% if backgroundColour == 'black' %}
    {% assign cssClasses = ' color--white' | prepend: cssClasses %}
{% endif %}

{% if contentWidth == 'full' %}
    {% assign cssClasses = ' padding--bottom-none padding--top-none' | prepend: cssClasses %}
{% endif %}

{% if contentWidth == 'wide' %}
    {% assign constrainClasses = ' constrain--wide' | prepend: constrainClasses %}
{% endif %}

<section class="{{ cssClasses }}">
    {% if contentWidth != 'full' %}
    <div class="section__content {{ constrainClasses }}">
        {{ Model.Content.Content | shape_render }}
    </div>
    {% else %}
    {{ Model.Content.Content | shape_render }}
    {% endif %}
</section>