/* ==========================================================================
   #LIGHTGALLERY/VARIABLES
   ========================================================================== */

:root {
    --lightGalleryVideoMaxWidth: 128rem;

    --lightGalleryIframeHeight: 100vh;
    --lightGalleryIframeMargin: 0 auto;
    --lightGalleryIframeMaxHeight: 90rem;
    --lightGalleryIframeMaxWidth: 70rem;
}
