/* ==========================================================================
   #RADIOS/VARIABLES
   ========================================================================== */

:root {
    --formRadioHeight: 2.2rem;
    --formRadioWidth: 2.2rem;

    --formRadioLabelPaddingLeft: 3rem;
    --formRadioLabelAfterBorderWidth: 0.6rem;
    --formRadioLabelAfterXPos: 0.5rem;
    --formRadioLabelAfterYPos: 0.5rem;
}
