<div class="carousel js-carousel" data-duration="0">
    <button class="btn btn--icon carousel__previous-btn js-prev-btn">
        <svg width="27" height="50" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.541 26.414L25.127 50l1.415-1.414L2.956 25 26.54 1.414 25.127 0 1.541 23.586l-.126-.127-1.414 1.415.126.126-.126.126 1.414 1.415.126-.127z"
                fill="#EEECEA" /></svg>
        <span class="visuallyhidden">Previous</span>
    </button>

    <button class="btn btn--icon carousel__next-btn js-next-btn">
        <svg width="27" height="50" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1.541 26.414L25.127 50l1.415-1.414L2.956 25 26.54 1.414 25.127 0 1.541 23.586l-.126-.127-1.414 1.415.126.126-.126.126 1.414 1.415.126-.127z"
                fill="#EEECEA" /></svg>
        <span class="visuallyhidden">Next</span>
    </button>

    <ul class="carousel__indicators">
        <li class="carousel__indicator is-active">
            <button class="btn js-change-to-btn" data-index="0">
                <span class="visuallyhidden">Change item to index 0</span>
            </button>
        </li>
        <li class="carousel__indicator">
            <button class="btn js-change-to-btn" data-index="1">
                <span class="visuallyhidden">Change item to index 1</span>
            </button>
        </li>
        <li class="carousel__indicator">
            <button class="btn js-change-to-btn" data-index="2">
                <span class="visuallyhidden">Change item to index 2</span>
            </button>
        </li>
    </ul>

    <ul class="carousel__items js-carousel-items">
        <li class="carousel__item is-active">
            <div class="card card--carousel">
                <div class="card__body">
                    <h2 class="text--size-h1">Slide #1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><a class="btn btn--secondary" href="#">Tell me more</a></p>
                </div>

                <picture class="card__background">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg"
                        media="(min-width: 1921px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg"
                        media="(min-width: 1441px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg"
                        media="(min-width: 1281px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg"
                        media="(min-width: 1025px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg"
                        media="(min-width: 769px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
                    <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
                </picture>
            </div>
        </li>
        <li class="carousel__item">
            <div class="card card--carousel">
                <div class="card__body">
                    <h2 class="text--size-h1">Slide #2</h2>
                    <p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p><a class="btn btn--secondary" href="#">Tell me more</a></p>
                </div>

                <picture class="card__background">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg"
                        media="(min-width: 1921px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg"
                        media="(min-width: 1441px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg"
                        media="(min-width: 1281px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg"
                        media="(min-width: 1025px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg"
                        media="(min-width: 769px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
                    <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
                </picture>
            </div>
        </li>
        <li class="carousel__item">
            <div class="card card--carousel">
                <div class="card__body">
                    <h2 class="text--size-h1">Slide #3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p><a class="btn btn--secondary" href="#">Tell me more</a></p>
                </div>

                <picture class="card__background">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg"
                        media="(min-width: 1921px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg"
                        media="(min-width: 1441px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg"
                        media="(min-width: 1281px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg"
                        media="(min-width: 1025px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg"
                        media="(min-width: 769px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
                    <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
                    <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
                </picture>
            </div>
        </li>
    </ul>
</div>