<div class="embed embed--ratio-16-9">
    <div class="embed__source">
        <iframe src="https://www.youtube.com/embed/m570b_d8vbk" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>

    <p class="embed__caption">An example of an embed with a fixed 16:9 aspect ratio.</p>
</div>