<div class="embed embed--ratio-4-3">
    <div class="embed__source">
        <iframe src="https://www.youtube.com/embed/mM5_T-F1Yn4" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>

    <p class="embed__caption">An example of an embed with a fixed 4:3 aspect ratio.</p>
</div>