<div class="embed">
    <div class="embed__source">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10066.293341504523!2d-1.4057399!3d50.8946067!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa58a4d11e334d180!2sEtch%20UK%20Ltd%20(Southampton)!5e0!3m2!1sen!2suk!4v1590074574075!5m2!1sen!2suk"
            allowfullscreen=""></iframe>
    </div>

    <p class="embed__caption">An example of an embed with no fixed aspect ratio</p>
</div>