/* ==========================================================================
   #LOGO/DEFAULT
   ========================================================================== */

.logo {
    display: inline-block;
    max-width: var(--logoContainedWidth);
    vertical-align: middle;
}
