/* ==========================================================================
   #CARD/DEFAULT
   ========================================================================== */

@use "sass:math";

/*
 * 1. Force 4:3 aspect ratio on media overlay cards
 */

.card {
    border-radius: var(--cardBorderRadius);
    display: block;
    margin-bottom: var(--spacingDefault);
    margin-left: auto;
    margin-right: auto;
    position: relative;

    background-color: var(--cardBackground);
    background-image: var(--cardBackgroundPattern);

    color: var(--cardTextColor);
    text-decoration: none;

    overflow: hidden;

    @include mq($from: desktopSmall) {
        margin-bottom: 0;
    }

    &--inverted,
    .content-feed--inverted & {
        color: var(--colorTextInverted);
    }

    &--media-overlay {
        height: 0;
        padding-bottom: math.div(3, 4) * 100%; /* 1 */
    }

    &__media {
        border-bottom-left-radius: var(--cardBorderRadius);
        border-bottom-right-radius: var(--cardBorderRadius);
        border: var(--cardMediaBorder);
        margin-bottom: var(--cardMediaMarginBottom);

        overflow: hidden;

        .card--media-overlay & {
            height: 100%;
            position: absolute;
            width: 100%;

            z-index: var(--zIndexDefault);
        }

        &-image {
            display: block;
            min-width: 100%;

            .card--media-overlay & {
                min-height: 100%;
            }
        }
    }

    &__body {
        padding: var(--cardBodyPadding);
        position: relative;

        z-index: var(--cardBodyZIndex);

        .card--has-media & {
            padding-top: var(--spacingDefault);
        }

        .card--media-overlay & {
            bottom: 0;
            left: 0;
            padding: var(--cardBodyPadding);
            position: absolute;
            width: 100%;

            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0,
                var(--cardBackground) 75%,
                var(--cardBackground) 100%
            );
        }

        p,
        ul,
        ol {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__header {
        margin-bottom: var(--cardTitleMarginBottom);

        &:last-child {
            margin-bottom: 0;
        }

        .card--has-media & {
            display: flex;
            flex-direction: column-reverse;
        }

        .card--media-overlay & {
            display: block;
        }
    }

    &__title {
        margin-bottom: var(--cardTitleMarginBottom);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__meta {
        display: block;

        color: var(--colorTextLight);
        font-family: var(--fontFamilyHeading);
        font-weight: var(--cardMetaWeight);
        text-transform: var(--cardMetaTextTransform);

        .inverted & {
            color: var(--colorTextLighter);
        }

        .card--has-media & {
            margin-bottom: var(--cardTitleMarginBottom);
        }

        .card--media-overlay & {
            margin-bottom: 0;
        }
    }

    /* If card is a link apply hover effect */
    &[href] {
        .card__media-image {
            transform: scale(var(--cardMediaImageScale));
            transition: transform var(--cardMediaImageTransitionDuration)
                ease-in-out;
        }

        &:hover {
            .card__media-image {
                transform: scale(var(--cardMediaImageScaleHover));
            }
        }
    }

    &--media-overlay[href] {
        transform: scale(var(--cardMediaImageScale));
        transition: transform var(--cardMediaImageTransitionDuration)
            var(--cardMediaImageTransitionEasing);

        .card__media-image {
            transform: none;
            transition: none;
        }

        &:hover {
            transform: scale(var(--cardMediaImageOverlayScaleHover));

            .card__media-image {
                transform: none;
            }
        }
    }
}

a.card {
    &:hover {
        color: var(--cardTextColor);
    }

    &--inverted {
        &:hover {
            color: var(--colorTextInverted);
        }
    }
}
