/* ==========================================================================
   #CARD/EQUAL HEIGHT
   ========================================================================== */

.card--equal-height {
    height: 100%;

    .card {
        &__body {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}
