/* ==========================================================================
   #CARD/EQUAL-HEIGHT
   ========================================================================== */

/*
 * 1. Only apply this above desktopSmall, when width-- classes would actually 
 *    place things side by side otherwise, it makes spacing on mobile tricky 
 *    when they stack.
 */

.card--equal-height {
    /* 1 */
    @include mq($from: desktopSmall) {
        height: 100%;

        .card {
            &__body {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }
    }
}
