/* ==========================================================================
   #CARD/JOB
   ========================================================================== */

.card--job {
    height: 100%;
    padding-bottom: $card-job-padding-bottom;
    padding-left: $card-job-padding-horizontal;
    padding-right: $card-job-padding-horizontal;
    padding-top: $content-gutter-small;

    background-color: var(--colorWhite);

    .card {
        &__body {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-top: 0;

            a {
                color: var(--colorTextDefault);
                text-decoration: none;
            }

            h3 {
                margin-bottom: $card-job-heading-margin-bottom;

                font-size: var(--fontSizeH3);
            }

            p {
                margin-top: auto;
            }
        }
    }
}
