/* ==========================================================================
   #CARD/VARIABLES
   ========================================================================== */

$card-job-heading-margin-bottom: .5rem;

$card-job-padding-horizontal: 2rem;
$card-job-padding-bottom: 2rem;