<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Manuale:400,700|Work+Sans:400,700&display=swap" rel="stylesheet" />
    <link media="all" rel="stylesheet" href="{{path '/css/styles.css?v=30c11d54da27d3279989?v=30c11d54da27d3279989'}}">
    <title>Preview Layout</title>
</head>

<body>
    {{{ yield }}}

    <script src="{{path '/js/scripts.js?v=648939b4272bbf52302d?v=648939b4272bbf52302d'}}"></script>
</body>

</html>