.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: $button-padding-vertical $button-padding-horizontal;

    @include themify($themes) {
        background-color: themed('color.brandPrimary');
        border: $button-border-size solid themed('color.brandPrimary');
        color: themed('color.white');
    }
    
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.btn:disabled {
    @include themify($themes) {
        background-color: themed('color.buttonDisabled');
        border: $button-border-size solid themed('color.buttonDisabled');
        color: themed('color.text');
    }
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
    @include themify($themes) {
        background-color: themed('color.brandPrimary');
        border: $button-border-size solid themed('color.brandPrimary');
        color: themed('color.white');
    }
}

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
    @include themify($themes) {
        background-color: themed('color.brandSecondary');
        border: $button-border-size solid themed('color.brandSecondary');
        color: themed('color.white');
    }
}