/* ==========================================================================
   #CHECKBOXES/DEFAULT
   ========================================================================== */

.checkboxes {
    display: block;

    &__item {
        display: block;
        margin-bottom: var(--spacingDefault);
        position: relative;

        .checkboxes--inline & {
            display: inline-block;
            margin-bottom: 0;
            margin-right: var(--spacingDefault);
        }
    }

    &__label {
        display: inline-block;
        margin-bottom: 0;
        padding-left: var(--formCheckboxLabelPaddingLeft);

        font-family: var(--fontFamilyDefault);
        font-size: var(--fontSizeBase);
        font-weight: var(--fontWeightDefault);

        cursor: pointer;
        touch-action: manipulation;

        &:before {
            border: var(--formBorderSize) solid var(--colorTextLight);
            box-sizing: border-box;
            height: var(--formCheckboxHeight);
            left: 0;
            position: absolute;
            top: 0;
            width: var(--formCheckboxWidth);

            background: transparent;

            content: "";
        }

        &:after {
            height: var(--formCheckboxLabelAfterHeight);
            left: var(--formCheckboxLabelAfterXPos);
            position: absolute;
            top: var(--formCheckboxLabelAfterYPos);
            width: var(--formCheckboxLabelAfterWidth);

            background: transparent;
            border: solid;
            border-width: var(--formCheckboxLabelAfterBorderWidth);
            border-top-color: transparent;
            transform: rotate(-45deg);
            opacity: 0;

            content: "";
        }
    }

    &__input {
        height: var(--formCheckboxHeight);
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: var(--formCheckboxWidth);
        z-index: var(--zIndexDefault);

        cursor: pointer;
        opacity: 0;

        /* Make check icon visible */
        &:checked + .checkboxes__label:after {
            opacity: 1;
        }

        /* Change checkbox border colour when checked */
        &:checked + .checkboxes__label:before {
            border-color: var(--colorTextDefault);
        }

        /* Show focus colour */
        &:focus + .checkboxes__label::before {
            @include focus-form-element;
        }
    }
}
