/* ==========================================================================
   #CHECKBOXES/VARIABLES
   ========================================================================== */

:root {
    --formCheckboxHeight: 2.2rem;
    --formCheckboxWidth: 2.2rem;

    --formCheckboxLabelPaddingLeft: 3rem;
    --formCheckboxLabelAfterBorderWidth: 0 0 0.3rem 0.3rem;
    --formCheckboxLabelAfterHeight: 0.7rem;
    --formCheckboxLabelAfterXPos: 0.5rem;
    --formCheckboxLabelAfterYPos: 0.6rem;
    --formCheckboxLabelAfterWidth: 1.2rem;
}
