/* ==========================================================================
   #CHECKBOXES/VARIABLES
   ========================================================================== */

$form-checkbox-height: 2.2rem;
$form-checkbox-width: 2.2rem;

$form-checkbox-label-padding-left: 3rem;
$form-checkbox-label-after-border-width: 0 0 0.3rem 0.3rem;
$form-checkbox-label-after-height: 0.7rem;
$form-checkbox-label-after-x-pos: 0.5rem;
$form-checkbox-label-after-y-pos: 0.6rem;
$form-checkbox-label-after-width: 1.2rem;
