/* ==========================================================================
   #NAV/DEFAULT
   ========================================================================== */

@use "sass-mq/mq";

/*
 * 1. Some styles (e.g spacing between items) should apply to any .link in the
 *    navigation, including e.g link--emphasis, but not apply to e.g a .btn if
 *    used in the same navigation.
 *    Meanwhile, other styles, such as color, should only apply if no style is 
 *    specified - e.g, if link--emphasis is used, the default will not apply 
 *    and override the color, weight, or transform.
 */

.nav {
    display: block;
    position: relative;
}

.nav__items {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section--center &,
    .align--center & {
        justify-content: center;
    }

    .section--right &,
    .align--right & {
        justify-content: flex-end;
    }

    .nav--display-mobile-horizontal & {
        flex-flow: row wrap;
    }

    .nav--display-mobile-vertical & {
        flex-direction: column;
    }

    @include mq.mq($from: desktopSmall) {
        flex-flow: row wrap;

        .nav--display-horizontal & {
            flex-flow: row wrap;
        }

        .nav--display-vertical & {
            flex-direction: column;
        }
    }

    .nav--item-gap-none & {
        gap: 0;
    }

    .nav--item-gap-small & {
        gap: var(--spacingSmall);
    }

    .nav--item-gap-default & {
        gap: var(--spacingDefault);
    }

    .nav--item-gap-large & {
        gap: var(--spacingLarge);
    }
}

.nav__item {
    border-bottom: var(--navBorderWidth) solid var(--navBorderColor);
    margin-bottom: 0;

    @include mq.mq($from: tablet) {
        border-bottom: 0;
    }

    &:last-child {
        border-bottom: 0;
    }

    /* 1 */
    .link {
        display: block;

        padding-bottom: var(--navAnchorPaddingBottom);
        padding-left: var(--navAnchorPaddingHorz);
        padding-right: var(--navAnchorPaddingHorz);
        padding-top: var(--navAnchorPaddingTop);

        @include mq.mq($from: desktopSmall) {
            padding: var(--navAnchorPaddingHorz);
        }
    }
}

/* 1 */
.nav__item-link--default {
    color: var(--navColor);
    font-size: var(--navFontSize);
    font-weight: var(--navFontWeight);
    text-decoration: none;
    text-transform: var(--navTextTransform);

    svg {
        fill: var(--navColor);
    }

    &:focus,
    &:hover {
        color: var(--navColorActive);
        text-decoration: var(--navTextDecorationHover);

        svg {
            fill: var(--navColorActive);
        }
    }

    &.is-current-page {
        color: var(--navColorActive);

        svg {
            fill: var(--navColorActive);
        }
    }

    .inverted & {
        color: var(--navColorInverted);

        svg {
            fill: var(--navColorInverted);
        }

        &:focus,
        &:hover {
            color: var(--navColorInvertedActive);

            svg {
                fill: var(--navColorInvertedActive);
            }
        }
    }
}

.nav__item--parent {
    svg {
        display: inline-block;
        height: var(--navChevronHeight);
        margin-bottom: var(--navChevronMarginBottom);
        margin-left: var(--navChevronMarginLeft);
        width: var(--navChevronWidth);
        vertical-align: middle;

        fill: var(--navColor);
    }

    .nav__item-link:hover svg {
        fill: var(--navColorActive);
    }

    .inverted & {
        svg {
            fill: var(--navColorInverted);
        }

        a:hover svg {
            fill: var(--navColorInvertedActive);
        }
    }
}

.nav__sub {
    display: none;

    background-color: var(--colorGrey);

    @include mq.mq($from: desktopSmall) {
        position: absolute;

        background-color: var(--colorWhite);

        .inverted & {
            background-color: var(--colorBlack);
        }
    }

    .nav__item-link {
        padding-bottom: var(--navAnchorPaddingBottom);
        padding-left: var(--navAnchorPaddingHorz);
        padding-right: var(--navAnchorPaddingHorz);
        padding-top: var(--navAnchorPaddingTop);
    }

    .is-selected & {
        display: block;
    }
}

.nav__sub-items .nav__item {
    border-bottom: var(--navBorderWidth) solid var(--navBorderColorLight);

    &:last-child {
        border-bottom: 0;
    }
}
