/* ==========================================================================
   #NAV/DEFAULT
   ========================================================================== */

.nav {
    display: block;
    position: relative;
}

.nav__items {
    @include list-reset();
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mq($from: tablet) {
        display: flex;
        flex-direction: row;
        padding-top: $nav-top-padding;
    }
}

.nav__item {
    border-bottom: $nav-border-width solid var(--colorGrey);

    @include mq($from: tablet) {
        border-bottom: 0;
    }

    &:last-child {
        border-bottom: 0;
    }

    a {
        display: block;
        padding-bottom: $nav-anchor-padding-bottom;
        padding-top: $nav-anchor-padding-top;

        color: var(--colorBlack);
        text-decoration: none;

        @include mq($from: tablet) {
            padding: $nav-anchor-padding-tablet;
        }

        &.is-current-page {
            color: var(--colorPrimary);
        }
    }
}

.nav__item--parent {
    > a {
        align-items: center;
        display: flex;
        position: relative;

        &:after {
            content: '';
            height: $nav-chevron-height;
            margin-bottom: $nav-chevron-margin-bottom;
            margin-left: $nav-chevron-margin-left;
            width: $nav-chevron-width;

            background-image: url('../content/icon-chevron.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            transform: translateY(50%);
        }
    }
}

.nav__sub {
    display: none;

    background-color: var(--colorGrey);

    @include mq($from: tablet) {
        position: absolute;

        background-color: var(--colorWhite);
    }

    a {
        padding-left: $spacing-large;

        @include mq($from: tablet) {
            padding: $nav-anchor-padding-tablet;
        }
    }

    .is-selected & {
        display: block;
    }
}

.nav__sub-items {
    @include list-reset();
}
