/* ==========================================================================
   #NAV/DEFAULT
   ========================================================================== */

.nav {
    display: block;
    position: relative;
}

.nav__items {
    @include list-reset();
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mq($from: tablet) {
        display: flex;
        flex-direction: row;
    }
}

.nav__item {
    border-bottom: $nav-border-width solid var(--navBorderColor);
    margin-bottom: 0;

    @include mq($from: tablet) {
        border-bottom: 0;
    }

    &:last-child {
        border-bottom: 0;
    }

    a {
        display: block;
        padding-bottom: $nav-anchor-padding-bottom;
        padding-left: $content-gutter-small;
        padding-right: $content-gutter-small;
        padding-top: $nav-anchor-padding-top;

        color: var(--navColor);
        font-size: var(--navFontSize);
        font-weight: var(--navFontWeight);
        text-decoration: none;
        text-transform: var(--navTextTransform);

        svg {
            fill: var(--navColor);
        }

        @include mq($from: tablet) {
            padding: var(--navAnchorPaddingDesktop);
        }

        &.is-current-page {
            color: var(--navColorActive);

            svg {
                fill: var(--navColorActive);
            }
        }

        [class$='--inverted'] & {
            color: var(--navColorInverted);

            svg {
                fill: var(--navColorInverted);
            }

            &:focus,
            &:hover {
                color: var(--navColorInvertedActive);

                svg {
                    fill: var(--navColorInvertedActive);
                }
            }
        }

        &:focus,
        &:hover {
            color: var(--navColorActive);
            text-decoration: var(--navTextDecorationHover);

            svg {
                fill: var(--navColorActive);
            }
        }
    }
}

.nav__item--parent {
    svg {
        display: inline-block;
        height: $nav-chevron-height;
        margin-bottom: $nav-chevron-margin-bottom;
        margin-left: $nav-chevron-margin-left;
        width: $nav-chevron-width;
        vertical-align: middle;

        fill: var(--navColor);
    }

    a:hover svg {
        fill: var(--navColorActive);
    }

    [class$='--inverted'] & {
        svg {
            fill: var(--navColorInverted);
        }
        a:hover svg {
            fill: var(--navColorInvertedActive);
        }
    }
}

.nav__sub {
    display: none;

    background-color: var(--colorGrey);

    @include mq($from: tablet) {
        position: absolute;

        background-color: var(--colorWhite);

        [class$='--inverted'] & {
            background-color: var(--colorBlack);
        }
    }

    a {
        padding-left: $content-gutter;
        padding-right: $content-gutter;

        @include mq($from: tablet) {
            padding: $nav-anchor-padding-tablet;
        }
    }

    .is-selected & {
        display: block;
    }
}

.nav__sub-items {
    @include list-reset();

    .nav__item {
        border-bottom: $nav-border-width solid var(--navBorderColorLight);

        &:last-child {
            border-bottom: 0;
        }
    }
}
