/* ==========================================================================
   #NAV/FOOTER
   ========================================================================== */

.footer {
    .nav__item-link--default {
        font-size: var(--footerFontSize);
        font-weight: var(--navFooterFontWeight);
        text-transform: var(--navFooterTextTransform);
    }

    .nav__sub {
        background: transparent;
    }
}

.footer--inverted {
    .nav__item-link--default {
        color: var(--footerColorInverted);

        svg {
            fill: var(--footerColorInverted);
        }

        &:focus,
        &:hover {
            color: var(--footerColorInvertedActive);

            svg {
                fill: var(--footerColorInvertedActive);
            }
        }
    }

    .nav__item--parent {
        > .nav__item-link {
            &:after {
                background-image: url("../content/icon-chevron-inverted.svg");
            }
        }
    }
}
