/* ==========================================================================
   #NAV/FOOTER
   ========================================================================== */

.nav--footer {
    .nav__item {
        @include bp-min-width($bp-tablet) {
            @include rem(margin-right, $content-gutter-small);
        }

        @include bp-min-width($bp-desktop-small) {
            @include rem(margin-right, $list-navigation-li-margin-right-desktop-small);
        }

        &:last-child {
            @include bp-min-width($bp-desktop-small) {
                margin-right: 0;
            }
        }

        > a {
            @include rem(padding-bottom, $content-gutter-small);
            padding-left: 0;
            padding-right: 0;
        }
    }

    .nav__sub {
        @include rem(margin-bottom, $content-gutter-small);
        position: static;

        background-color: transparent;

        @include bp-min-width($bp-tablet) {
            position: absolute;
        }

        a {
            @include rem(padding-bottom, $content-gutter-small);
            @include rem(padding-left, $content-gutter-small);
            @include rem(padding-right, $content-gutter-small);

            @include bp-min-width($bp-tablet) {
                padding-left: 0;
            }
        }
    }
}