/* ==========================================================================
   #NAV/PRIMARY
   ========================================================================== */

@use "sass-mq/mq";

.nav--primary {
    .nav__item .link,
    .nav__item-link--default {
        @include mq.mq($from: desktopSmall) {
            padding: var(--navPrimaryAnchorPaddingDesktop);
        }
    }

    .nav__sub {
        background-color: var(--headerBackgroundColor);
        background-image: var(--headerBackgroundPattern);
    }
}
