/* ==========================================================================
   #NAV/SOCIAL
   ========================================================================== */

.nav--social {
  margin-top: $spacing-large;

  @include mq($from: desktopSmall) {
    margin-top: 0;
  }

  .nav__items {
    justify-content: center;

    a {
      padding: var(--navAnchorSocialPadding);

      svg {
        display: block;
      }
    }
  }
}
