/* ==========================================================================
   #NAV/VARIABLES
   ========================================================================== */

$nav-li-margin-right-desktop-small: 5rem;

$nav-chevron-height: 0.6rem;
$nav-chevron-margin-bottom: 0.4rem;
$nav-chevron-margin-left: 0.5rem;
$nav-chevron-width: 1rem;

:root {
  --navAnchorPadding: 1.5rem;
  --navAnchorSocialPadding: 1rem;
  --navColor: var(--colorTextDefault);
  --navColorActive: var(--colorPrimary);
  --navColorInverted: var(--colorTextInverted);
  --navColorInvertedActive: var(--colorPrimary);
  --navFontSize: var(--fontSizeBase);
  --navFontWeight: normal;
  --navFooterFontWeight: normal;
  --navFooterTextTransform: initial;
  --navTextDecorationHover: none;
  --navTextTransform: none;

  @include mq($from: desktopSmall) {
    --navAnchorPadding: 2rem 1rem;
    --navAnchorSocialPadding: 0.5rem;
  }

  @include mq($from: desktop) {
    --navAnchorPadding: 2rem 2.4rem;
    --navAnchorSocialPadding: 1rem;
  }
}
