/* ==========================================================================
   #NAV/VARIABLES
   ========================================================================== */

$nav-anchor-padding-bottom: 1rem;
$nav-anchor-padding-tablet: 0.5rem 1rem;
$nav-anchor-padding-top: 1.5rem;

$nav-border-width: 0.1rem;

$nav-li-margin-right-desktop-small: 5rem;

$nav-top-padding: 0.5rem;

$nav-chevron-height: 0.6rem;
$nav-chevron-margin-bottom: 0.4rem;
$nav-chevron-margin-left: 0.5rem;
$nav-chevron-width: 1rem;

:root {
    --navColor: var(--colorBlack);
    --navColorActive: var(--colorPrimary);
    --navFooterFontWeight: normal;
    --navFooterTextTransform: initial;
    --navTextDecorationHover: none;
}
