/* ==========================================================================
   #NAV/VARIABLES
   ========================================================================== */

:root {
    --navChevronHeight: 0.6rem;
    --navChevronMarginBottom: 0.4rem;
    --navChevronMarginLeft: 0.5rem;
    --navChevronWidth: 1rem;

    --navAnchorPaddingBottom: 1rem;
    --navAnchorPaddingHorz: var(--gutterSmall);
    --navAnchorPaddingTop: 1rem;

    --navBorderWidth: var(--borderWidth);
    --navBorderColor: #d7d7d7;
    --navBorderColorLight: #eaeaea;
    --navColor: var(--colorTextDefault);
    --navColorActive: var(--colorPrimary);
    --navColorInverted: var(--colorTextInverted);
    --navColorInvertedActive: var(--colorPrimary);
    --navFontSize: var(--fontSizeBase);
    --navFontWeight: normal;
    --navFooterFontWeight: normal;
    --navFooterTextTransform: initial;
    --navPrimaryAnchorPadding: var(--navAnchorPaddingTop)
        var(--navAnchorPaddingHorz) var(--navAnchorPaddingBottom);
    --navTextDecorationHover: none;
    --navTextTransform: none;

    @include mq($from: desktopSmall) {
        --navAnchorPaddingBottom: 0.5rem;
        --navAnchorPaddingHorz: 1rem;
        --navAnchorPaddingTop: 0.5rem;

        --navPrimaryAnchorPadding: 1rem 2rem;
    }
}
