
<ul class="list list--navigation js-nav">
    <li>
        <a href="/components/preview/homepage" aria-haspopup="true" aria-expanded="false">
            Home
        </a>
    </li>
    <li class="has-sub-list">
        <a href="/components/preview/about" aria-haspopup="true" aria-expanded="false">
            About
        </a>
        <div class="sub-list">
            <ul class="list">
                <li><a href="/components/preview/about">Sub-item One</a></li>
                <li><a href="#">Sub-item Two</a></li>
                <li><a href="#">Sub-item Three</a></li>
            </ul>
        </div>
    </li>
    <li class="has-sub-list">
        <a href="/components/preview/games" aria-haspopup="true" aria-expanded="false">
            Games
        </a>
        <div class="sub-list">
            <ul class="list">
                <li><a href="/components/preview/games">Sub-item One</a></li>
                <li><a href="#">Sub-item Two</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="/components/preview/jobs" aria-haspopup="true" aria-expanded="false">
            Jobs
        </a>
    </li>
    <li>
        <a href="/components/preview/blog" aria-haspopup="true" aria-expanded="false">
            Blog
        </a>
    </li>
    <li>
        <a href="/components/preview/contact" aria-haspopup="true" aria-expanded="false">
            Contact
        </a>
    </li>
</ul>
