<nav class="nav {{ navModifier }}" role="navigation">
    <ul class="nav__items js-nav">
        <li class="nav__item nav__item--parent">
            <a href="/components/preview/about" aria-haspopup="true" aria-expanded="false" class="js-nav-parent-link">
                About
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 158.2">
                    <path d="M225.8 0L128 97.8 30.2 0 0 30.2l128 128 128-128z" />
                </svg>
            </a>
            <div class="nav__sub">
                <ul class="nav__sub-items">
                    <li class="nav__item"><a href="/components/preview/about">Sub-item One</a></li>
                    <li class="nav__item"><a href="#">Sub-item Two</a></li>
                    <li class="nav__item"><a href="#">Sub-item Three</a></li>
                </ul>
            </div>
        </li>
        <li class="nav__item nav__item--parent">
            <a href="/components/preview/games" aria-haspopup="true" aria-expanded="false" class="js-nav-parent-link">
                Games
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 158.2">
                    <path d="M225.8 0L128 97.8 30.2 0 0 30.2l128 128 128-128z" />
                </svg>
            </a>
            <div class="nav__sub">
                <ul class="nav__sub-items">
                    <li class="nav__item"><a href="/components/preview/gamees">Sub-item One</a></li>
                    <li class="nav__item"><a href="#">Sub-item Two</a></li>
                </ul>
            </div>
        </li>
        <li class="nav__item">
            <a href="/components/preview/jobs" aria-haspopup="true" aria-expanded="false">Jobs</a>
        </li>
        <li class="nav__item">
            <a href="/components/preview/blog" aria-haspopup="true" aria-expanded="false">Blog</a>
        </li>
        <li class="nav__item">
            <a href="/components/preview/contact" aria-haspopup="true" aria-expanded="false">Contact</a>
        </li>
    </ul>
</nav>