/* ==========================================================================
   #LINK/BREAKOUT
   ========================================================================== */
   
/**
 * Used to make the entire parent element clickable.
 */
 .link--breakout {
    position: static;
    
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
}