/* ==========================================================================
   #LINK/CTA
   ========================================================================== */

.link--cta {
    &-large {
        padding-bottom: $spacing-small;
        padding-left: $spacing-default;
        padding-right: $spacing-default;
        padding-top: $spacing-small;

        @include themify($themes) {
            font-size: themed('fontSize.h3');
        }
    }
}
