/* ==========================================================================
   #LINK/CTA
   ========================================================================== */

.link--cta {
    &-large {
        padding-bottom: var(--spacingSmall);
        padding-left: var(--spacingDefault);
        padding-right: var(--spacingDefault);
        padding-top: var(--spacingSmall);

        font-size: var(--fontSizeH3);
    }
}
