/* ==========================================================================
   #LINK/GROW
   ========================================================================== */

.link--grow {
    &-center, &-ltr, &-rtl {
        position: relative;

        text-decoration: none;

        &:before {
            bottom: 0;
            content: "";
            height: $link-line-height;
            position: absolute;
            width: 0;

            @include themify($themes) {
                background-color: themed('color.brandPrimary');
            }
            
            transition: width $link-transition-duration ease-in-out;
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }
    }

    &-center {
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &-ltr {
        &:before {
            left: 0;
        }
    }

    &-rtl {
        &:before {
            right: 0;
        }
    }
}