/* ==========================================================================
   #LINK/PLAIN
   ========================================================================== */

.link--plain {
    border-bottom: 0;

    color: inherit;
    font-weight: var(--fontWeightDefault);
    text-decoration: none;
}
