/* ==========================================================================
   #LINK/VARIABLES
   ========================================================================== */

:root {
    --linkColor: var(--colorPrimary);
    --linkColorHover: var(--colorPrimaryActive);
    --linkColorInverted: var(--colorTextInverted);
    --linkColorInvertedHover: var(--colorPrimaryActive);
    --linkEmphasisFontWeight: var(--fontWeightBold);
    --linkEmphasisTextTransform: uppercase;
    --linkTransitionDuration: var(--animationDuration);
    --linkTransitionTiming: var(--animationTiming);
    --linkUnderlineHeight: var(--borderWidth);
    --linkUnderlineSlideTransformDistance: 1rem;
}
