<div class="form-group">
    <fieldset class="fieldset" aria-describedby="checkbox-hint">
        <legend class="fieldset__legend">
            <h1 class="fieldset__heading">
                What film genres do you enjoy?
            </h1>
        </legend>
        <span id="checkbox-hint" class="hint">
            Select all that apply.
        </span>
        <div class="checkboxes">
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="film-genre" name="film-genre" type="checkbox" value="action">
                <label class="label checkboxes__label" for="film-genre">
                    Action
                </label>
            </div>
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="film-genre-2" name="film-genre" type="checkbox" value="adventure">
                <label class="label checkboxes__label" for="film-genre-2">
                    Adventure
                </label>
            </div>
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="film-genre-3" name="film-genre" type="checkbox" value="comedy">
                <label class="label checkboxes__label" for="film-genre-3">
                    Comedy
                </label>
            </div>
            <div class="checkboxes__item">
                <input class="checkboxes__input" id="film-genre-4" name="film-genre" type="checkbox" value="drama">
                <label class="label checkboxes__label" for="film-genre-4">
                    Drama
                </label>
            </div>
        </div>
    </fieldset>
</div>