<fieldset class="fieldset">
    <legend class="fieldset__legend">
        <h1 class="fieldset__heading">
            What is your address?
        </h1>
    </legend>

    <div class="form-group">
        <label class="label" for="address-line-1">
            Building and street <span class="visually-hidden">line 1 of 2</span>
        </label>
        <input class="input" id="address-line-1" name="address-line-1" type="text">
    </div>

    <div class="form-group">
        <label class="label" for="address-line-2">
            <span class="visually-hidden">Building and street line 2 of 2</span>
        </label>
        <input class="input" id="address-line-2" name="address-line-2" type="text">
    </div>

    <div class="form-group">
        <label class="label" for="address-town">
            Town or city
        </label>
        <input class="input" id="address-town" name="address-town" type="text">
    </div>

    <div class="form-group">
        <label class="label" for="address-county">
            County
        </label>
        <input class="input" id="address-county" name="address-county" type="text">
    </div>

    <div class="form-group">
        <label class="label" for="address-postcode">
            Postcode
        </label>
        <input class="input" id="address-postcode" name="address-postcode" type="text">
    </div>

</fieldset>