/* ==========================================================================
   #DICTIONARY/DEFAULT
   ========================================================================== */

.dictionary {
    &__item {
        display: block;
        margin-bottom: var(--spacingDefault);
    }

    &__key {
        display: block;
        font-weight: var(--fontWeightBold);
    }

    &__value {
        display: block;
    }
}
