<form class="form form--centered form--overlap-bottom" action="#" method="POST">
    <div class="field-group field-group--horizontal">
        <div class="field">
            <label class="field__label" for="Email">Email</label>

            <input id="Email" name="Email" type="email" class="form-control">
        </div>

        <div class="field">
            <label class="field__label" for="Firstname">First name</label>
            <input id="Firstname" name="Firstname" type="text" class="form-control">
        </div>

        <div class="field">
            <label class="field__label" for="Lastname">Last name</label>
            <input id="Lastname" name="Lastname" type="text" class="form-control">
        </div>

    </div>

    <div class="field-group">
        <div class="field">
            <label class="field__label" for="Lastname">Bio</label>
            <textarea id="Bio" name="Bio" class="form-control"></textarea>
        </div>
    </div>

    <div class="field-group">
        <div class="field">
            <label class="field__label" for="Lastname">Category</label>
            <select id="Category" name="Category" class="form-control">
                <option value="">- Please select category -</option>
                <option value="A">Category A</option>
                <option value="B">Category B</option>
                <option value="C">Category C</option>
            </select>
        </div>
    </div>

    <div class="validation-summary-valid" data-valmsg-summary="true">
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>

    <button id="SignUp" name="SignUp" type="submit" class="btn btn--primary">Sign me up</button>
</form>