<div class="media">
    <picture>
        <img src="/content/PatternLibrary/unsplash-1444090542259-400w.jpg" alt="A description of the image" />
    </picture>
    <div class="media__body">
        <h3>Media heading</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
    </div>
</div>