/* ==========================================================================
   #ANIMATIONS/VARIABLES
   ========================================================================== */

:root {
    --animationFadeDuration: 0.6s;
    --animationFadeFallbackDuration: 4s;
    --animationFadeMoveOffset: 200px;
    --animationFadeTiming: ease-in-out;
}
