/* ==========================================================================
   #ANIMATIONS/VARIABLES
   ========================================================================== */

:root {
    --animationDelay: 0;
    --animationDuration: 0.6s;
    --animationFallbackDuration: 4s;
    --animationMoveOffset: 200px;
    --animationTiming: ease-in-out;
}
