/* ==========================================================================
   #FIXED CONTENT/VARIABLES
   ========================================================================== */

:root {
    --fixedContentEdgeDistance: 2rem;
    --fixedContentGradientDistance: 70%;
    --fixedContentGradientStartOpacity: 0.8;
    --fixedContentTransitionDuration: 0.2s;
}
