/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * Classes to style text in various different ways.
 */
   
.font {
    &--default {
        font-family: $font-family-default;
    }

    &--heading {
        font-family: $font-family-heading;
    }
}

.text {
    &--align {
        &-left{ text-align: left; }
        &-center{ text-align: center; }
        &-right{ text-align: right; }
    }

    &--line-through { text-decoration: line-through; }
    &--underline { text-decoration: underline; }
    &--uppercase { text-transform: uppercase; }

    &--size {
        &-h1 { 
            @include rem(font-size, $font-size-h1-mobile);
            line-height: $font-line-height-heading;

            @include bp-min-width($bp-desktop) {
                @include rem(font-size, $font-size-h1);
            }
        }
        &-h2 { 
            @include rem(font-size, $font-size-h2-mobile);
            line-height: $font-line-height-heading;

            @include bp-min-width($bp-desktop) {
                @include rem(font-size, $font-size-h2);
            }
        }
        &-h3 { 
            @include rem(font-size, $font-size-h3-mobile);
            line-height: $font-line-height-heading;

            @include bp-min-width($bp-desktop) {
                @include rem(font-size, $font-size-h3);
            }
        }
        &-h4 { 
            @include rem(font-size, $font-size-h4-mobile);
            line-height: $font-line-height-heading;

            @include bp-min-width($bp-desktop) {
                @include rem(font-size, $font-size-h4);
            }
        }
    }

    &--weight {
        &-bold {
            font-weight: $font-weight-bold;
        }
        &-normal {
            font-weight: $font-weight-default;
        }
    }
}  