/* ==========================================================================
   #PAGER/DEFAULT
   ========================================================================== */

.pager {
    @extend %list-reset;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    li:has(a[rel~="next"]) {
        margin-left: auto;
    }
}
