/* ==========================================================================
   #PAGER/DEFAULT
   ========================================================================== */

.pager {
    @include list-reset();

    display: flex;

    li:last-child {
        margin-left: auto;
    }
}
