<div class="flow">
    <div class="flow__content">
        <div class="width--50">
            <p>Donec et ultrices odio. Nulla egestas nulla tincidunt mi vulputate sodales. Pellentesque augue nulla,
                mattis a ultrices non, pellentesque ut metus. Proin sed est placerat, luctus tortor non, tempor est.
                Integer finibus facilisis turpis ullamcorper sollicitudin. Quisque urna massa, bibendum vitae tincidunt
                quis, euismod sed enim. Curabitur a quam mauris. Donec interdum, turpis quis auctor ornare, arcu dui
                faucibus ipsum, eget tincidunt libero nulla ut purus. Nam feugiat rhoncus varius. Ut ipsum sapien,
                consectetur suscipit justo nec, volutpat lobortis sem. Aenean eget enim velit. Proin id orci a mi
                ultricies porttitor aliquam et lectus.</p>
        </div>

        <div class="width--50">
            <p>Etiam lobortis suscipit erat, ac pharetra ex maximus vel. Maecenas mollis, ex ut pulvinar faucibus, erat
                ipsum scelerisque purus, quis dignissim enim augue a tellus. Nulla risus purus, mollis a laoreet id,
                facilisis ut ex. Aliquam tincidunt sem iaculis iaculis imperdiet. Pellentesque cursus risus quis tellus
                blandit efficitur. Donec malesuada quam quis nunc pulvinar ultrices. Integer dapibus tellus ut ipsum
                tempor, non pulvinar tellus elementum.</p>
        </div>

        <div class="align--center width--100">
            <p>Maecenas interdum mauris sed metus tempus placerat. Pellentesque risus massa, eleifend a euismod sed,
                euismod non turpis. Nunc mauris sem, porta id nisl ac, varius rutrum sapien. Quisque efficitur bibendum
                massa. Maecenas convallis ipsum purus, convallis dapibus dui porta et. Morbi tincidunt quam sit amet
                porttitor dignissim. Nam sit amet orci ut purus porttitor vulputate et vitae massa. Vivamus ut faucibus
                nisi. Maecenas quam nisl, aliquet sit amet enim sit amet, blandit dictum augue. Donec nunc purus,
                vestibulum porttitor neque eu, finibus auctor arcu. Aliquam erat volutpat. In vitae euismod risus.
                Vivamus vel imperdiet nibh. Cras bibendum nisl ut purus mattis hendrerit. In consequat mi nisl, in
                tristique enim gravida et.</p>
        </div>

        <div class="width--33">
            <img src="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" alt="A description of the image" />
            <p>Donec et ultrices odio. Nulla egestas nulla tincidunt mi vulputate sodales. Pellentesque augue nulla,
                mattis a ultrices non, pellentesque ut metus. Proin sed est placerat, luctus tortor non, tempor est.
                Integer finibus facilisis turpis ullamcorper sollicitudin. Quisque urna massa, bibendum vitae tincidunt
                quis, euismod sed enim. Curabitur a quam mauris. Donec interdum, turpis quis auctor ornare, arcu dui
                faucibus ipsum, eget tincidunt libero nulla ut purus.</p>
        </div>

        <div class="width--33">
            <img src="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" alt="A description of the image" />
            <p>Donec et ultrices odio. Nulla egestas nulla tincidunt mi vulputate sodales. Pellentesque augue nulla,
                mattis a ultrices non, pellentesque ut metus. Proin sed est placerat, luctus tortor non, tempor est.
                Integer finibus facilisis turpis ullamcorper sollicitudin. Quisque urna massa, bibendum vitae tincidunt
                quis, euismod sed enim. Curabitur a quam mauris. Donec interdum, turpis quis auctor ornare, arcu dui
                faucibus ipsum, eget tincidunt libero nulla ut purus.</p>
        </div>

        <div class="width--33">
            <img src="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" alt="A description of the image" />
            <p>onec et ultrices odio. Nulla egestas nulla tincidunt mi vulputate sodales. Pellentesque augue nulla,
                mattis a ultrices non, pellentesque ut metus. Proin sed est placerat, luctus tortor non, tempor est.
                Integer finibus facilisis turpis ullamcorper sollicitudin. Quisque urna massa, bibendum vitae tincidunt
                quis, euismod sed enim. Curabitur a quam mauris. Donec interdum, turpis quis auctor ornare, arcu dui
                faucibus ipsum, eget tincidunt libero nulla ut purus.</p>
        </div>
    </div>
</div>

<div class="flow">
    <div class="flow__content">
        <div class="width--50">
            <h2>Text and Image Title</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis
                luctus, enim nulla suscipit sapien, in fermentum mi lacus eu lorem. Nam libero risus, euismod eu
                gravida vel, ullamcorper vitae neque. In sollicitudin aliquet mattis. Donec at varius erat. Nunc nec
                egestas tortor. Praesent quis dapibus risus. Aliquam erat lorem, accumsan sed efficitur ut,
                venenatis et diam.</p>
            <a href="#">Learn more</a>
        </div>
        <div class="width--50">
            <img src="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" alt="Example image" />
        </div>
    </div>
</div>