/* ==========================================================================
   #HERO/DEFAULT
   ========================================================================== */

/**
  * 1. The rough space of a spacebar push, ensures that despite liquid output,
  *    anything with a span wrapped is appropriately spaced to the next item
  * 2. Vertically center the embed if it is taller than .hero__media
  */

@use "sass:math";

.hero {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    color: var(--heroColor);

    &__body {
        position: absolute;
        padding: var(--heroBodyPadding) 0;
        z-index: $z-index-nudge-forward;

        @each $width in $widths {
            .width--#{math.floor($width)} & {
                padding-left: var(--heroBodyPadding);
                padding-right: var(--heroBodyPadding);
            }
        }
    }

    &__meta {
        display: block;
        margin-bottom: $spacing-large;
        color: var(--colorTextLight);
        font-family: var(----fontFamilyHeading);
        font-weight: var(--cardMetaWeight);
        text-transform: var(--cardMetaTextTransform);

        &:last-child {
            margin-bottom: 0;
        }

        span {
            margin-left: 0.2em; /* 1 */
        }

        a {
            color: var(--colorTextLight);
        }
    }

    &__media,
    .hero-responsive-media--background-image {
        align-items: center; /* 2. */
        display: flex;
        justify-content: center;
        left: 50%;
        max-height: var(--heroMediaMaxHeight);
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;

        background: var(--heroBackgroundColor);

        overflow: hidden;
        z-index: $z-index-back;

        @include mq($from: tablet) {
            min-width: auto;
        }

        @each $width in $widths {
            .width--#{math.floor($width)} & {
                min-height: 0;
            }
        }

        .embed {
            margin-bottom: 0;
            position: absolute;
            width: 100%;

            @include mq($from: desktopSmall) {
                position: relative;
            }

            &__source {
                margin-bottom: 0;
            }

            &--ratio-16-9 {
                width: 278%;

                @include mq($from: mobile) {
                    width: 240%;
                }

                @include mq($from: mobileLarge) {
                    width: 215%;
                }

                @include mq($from: tabletSmall) {
                    width: 150%;
                }

                @include mq($from: tablet) {
                    width: 117%;
                }

                @include mq($from: desktopSmall) {
                    width: 100%;
                }
            }
        }

        picture,
        img {
            width: 100%;
        }
    }

    &__space {
        height: 0;
        width: 100%;

        pointer-events: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: var(--heroHeadingMarginBottom);
    }

    h1,
    h2 {
        text-transform: var(--heroHeadingTextTransform);
    }

    &--encourage-scrolling {
        &:after {
            content: 'Scroll down';
        }
    }
}
