/* ==========================================================================
   #HERO/DEFAULT
   ========================================================================== */

.hero {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    &__body {
        position: absolute;
    }

    &__title {
        color: var(--heroTitleColor);

        @include text-heading('Hero');

        span {
            padding: 0 $hero-title-padding-horizontal $hero-title-padding-bottom;

            background-color: var(--heroTitleBackground);
            box-decoration-break: clone;

            line-height: var(--lineHeightHero);
        }
    }

    /**
     * 1. Horizontally & vertically center the embed if it is taller/wider than .hero__media
     */
    &__media {
        align-items: center; /* 1. */
        display: flex;
        justify-content: center; /* 1. */
        max-height: var(--heroMediaMaxHeight);
        min-height: var(--heroMediaMinHeight);
        min-width: auto;
        position: relative;
        width: 100%;
        z-index: $z-index-back;

        background: var(--colorBlack);

        overflow: hidden;

        @include mq($from: tablet) {
            min-width: auto;
        }

        .embed {
            margin-bottom: 0;
            position: absolute;
            width: 100%;

            @include mq($from: desktopSmall) {
                position: relative;
            }

            &__source {
                margin-bottom: 0;
            }

            &--ratio-16-9 {
                width: 278%;

                @include mq($from: mobile) {
                    width: 240%;
                }

                @include mq($from: mobileLarge) {
                    width: 215%;
                }

                @include mq($from: tabletSmall) {
                    width: 150%;
                }

                @include mq($from: tablet) {
                    width: 117%;
                }

                @include mq($from: desktopSmall) {
                    width: 100%;
                }
            }
        }
    }
}
