/* ==========================================================================
   #HERO/GRADIENT
   ========================================================================== */

.hero--with-media-gradient {
    .hero__media,
    .hero-responsive-media--background-image {
        &:before,
        &:after {
            content: ' ';
            height: var(--heroGradientHeight);
            position: absolute;
            width: 100%;

            z-index: $z-index-mid;
        }
        &:before {
            left: 0;
            top: 0;

            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, var(--heroGradientMaxOpacity)) 0%,
                rgba(0, 0, 0, 0) 100%
            );
        }

        &:after {
            bottom: 0;
            left: 0;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, var(--heroGradientMaxOpacity)) 100%
            );
        }
    }
}
