/* ==========================================================================
   #HERO/HORIZONTAL
   ========================================================================== */

.hero--horizontal-center {
    @each $width in $widths {
        .width--#{$width} {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.hero--horizontal-left {
    @each $width in $widths {
        .width--#{$width} {
            margin-right: auto;
        }
    }
}

.hero--horizontal-right {
    @each $width in $widths {
        .width--#{$width} {
            margin-left: auto;
        }
    }
}
