/* ==========================================================================
   #HERO/RATIO
   ========================================================================== */

@use 'sass:math';

/*
 * 1. With a 100vh hero, and a 16:9 asset, the media width should scale 
 *    based on the viewport height, to ensure it covers. 
 *    16/9 = 1.7777 recurring, which we round to 178%
 */

.hero {
    &--mobile-ratio {
        &-16-9 {
            .hero__media {
                .embed {
                    width: 100%;
                }
            }
            .hero__space {
                padding-bottom: math.div(9, 16) * 100%;
            }
        }

        &-9-16 {
            .hero__media {
                .embed {
                    width: 320vw;
                }
            }
            .hero__space {
                padding-bottom: math.div(16, 9) * 100%;
            }
        }

        &-4-3 {
            .hero__media {
                .embed {
                    width: 140vw;
                }
            }
            .hero__space {
                padding-bottom: math.div(3, 4) * 100%;
            }
        }

        &-3-2 {
            .hero__media {
                .embed {
                    width: 120vw;
                }
            }
            .hero__space {
                padding-bottom: math.div(2, 3) * 100%;
            }
        }

        &-2-3 {
            .hero__media {
                .embed {
                    width: 270vw;
                }
            }
            .hero__space {
                padding-bottom: math.div(3, 2) * 100%;
            }
        }

        &-1-1 {
            .hero__media {
                .embed {
                    width: 180vw;
                }
            }
            .hero__space {
                padding-bottom: 100%;
            }
        }

        &-2-1 {
            .hero__media {
                .embed {
                    width: 100vw;
                }
            }
            .hero__space {
                padding-bottom: math.div(1, 2) * 100%;
            }
        }

        &-3-1 {
            .hero__media {
                .embed {
                    width: 100vw;
                }
            }
            .hero__space {
                padding-bottom: math.div(1, 3) * 100%;
            }
        }

        &-4-1 {
            .hero__media {
                .embed {
                    width: 100vw;
                }
            }
            .hero__space {
                padding-bottom: math.div(1, 4) * 100%;
            }
        }

        &-100vh {
            .hero__media,
            .hero-responsive-media--background-image {
                .embed,
                img {
                    width: 178vh; /* 1 */
                    max-width: none;
                    min-width: 100%;
                }
            }
            .hero__space {
                padding-bottom: 100vh;
            }
        }
    }

    @include mq($from: tablet) {
        &--tablet-ratio {
            &-16-9 {
                .hero__media {
                    .embed {
                        width: 100%;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(9, 16) * 100%;
                }
            }

            &-9-16 {
                .hero__media {
                    .embed {
                        width: 320vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(16, 9) * 100%;
                }
            }

            &-4-3 {
                .hero__media {
                    .embed {
                        width: 140vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(3, 4) * 100%;
                }
            }

            &-3-2 {
                .hero__media {
                    .embed {
                        width: 120vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(2, 3) * 100%;
                }
            }

            &-2-3 {
                .hero__media {
                    .embed {
                        width: 270vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(3, 2) * 100%;
                }
            }

            &-1-1 {
                .hero__media {
                    .embed {
                        width: 180vw;
                    }
                }
                .hero__space {
                    padding-bottom: 100%;
                }
            }

            &-2-1 {
                .hero__media {
                    .embed {
                        width: 100vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(1, 2) * 100%;
                }
            }

            &-3-1 {
                .hero__media {
                    .embed {
                        width: 100vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(1, 3) * 100%;
                }
            }

            &-4-1 {
                .hero__media {
                    .embed {
                        width: 100vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(1, 4) * 100%;
                }
            }

            &-100vh {
                .hero__media,
                .hero-responsive-media--background-image {
                    .embed,
                    img {
                        width: 178vh; /* 1 */
                        max-width: none;
                        min-width: 100%;
                    }
                }
                .hero__space {
                    padding-bottom: 100vh;
                }
            }
        }
    }

    @include mq($from: desktopSmall) {
        &--desktop-ratio {
            &-16-9 {
                .hero__media {
                    .embed {
                        width: 100%;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(9, 16) * 100%;
                }
            }

            &-9-16 {
                .hero__media {
                    .embed {
                        width: 320vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(16, 9) * 100%;
                }
            }

            &-4-3 {
                .hero__media {
                    .embed {
                        width: 140vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(3, 4) * 100%;
                }
            }

            &-3-2 {
                .hero__media {
                    .embed {
                        width: 120vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(2, 3) * 100%;
                }
            }

            &-2-3 {
                .hero__media {
                    .embed {
                        width: 270vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(3, 2) * 100%;
                }
            }

            &-1-1 {
                .hero__media {
                    .embed {
                        width: 180vw;
                    }
                }
                .hero__space {
                    padding-bottom: 100%;
                }
            }

            &-2-1 {
                .hero__media {
                    .embed {
                        width: 100vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(1, 2) * 100%;
                }
            }

            &-3-1 {
                .hero__media {
                    .embed {
                        width: 100vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(1, 3) * 100%;
                }
            }

            &-4-1 {
                .hero__media {
                    .embed {
                        width: 100vw;
                    }
                }
                .hero__space {
                    padding-bottom: math.div(1, 4) * 100%;
                }
            }

            &-100vh {
                .hero__media,
                .hero-responsive-media--background-image {
                    .embed,
                    img {
                        width: 178vh; /* 1 */
                        max-width: none;
                        min-width: 100%;
                    }
                }
                .hero__space {
                    padding-bottom: 100vh;
                }
            }
        }
    }
}
