/* ==========================================================================
   #HERO/VARIABLES
   ========================================================================== */

$hero-media-max-height: 90vh;

$hero-title-span-opacity: 0.3;
$hero-title-padding-bottom: 0.5rem;
$hero-title-padding-horizontal: 1.5rem;
