/* ==========================================================================
   #HERO/VARIABLES
   ========================================================================== */

:root {
    --heroBackgroundColor: transparent;
    --heroBodyPadding: 4.7rem;
    --heroColor: var(--colorTextDefault);
    --heroColorInverted: var(--colorTextInverted);
    --heroGradientHeight: 13rem;
    --heroHeadingMarginBottom: #{$spacing-large};
    --heroHeadingTextTransform: uppercase;
    --heroMediaMinHeight: 50rem;
    --heroPullDistance: 8rem;
    --heroSpacingAfterLarge: 9rem;
    --heroSpacingAfterLargeMobile: 6rem;

    @include mq($from: tablet) {
        --heroPullDistance: 10rem;
    }
}
