/* ==========================================================================
   #HERO/VERTICAL
   ========================================================================== */

.hero--vertical-bottom {
    align-items: flex-end;
}

.hero--vertical-center {
    align-items: center;
}

.hero--vertical-top {
    align-items: flex-start;
}
