/* ==========================================================================
   #HERO/VERTICAL
   ========================================================================== */

@use "sass-mq/mq";

.hero--vertical-bottom {
    align-items: flex-end;
}

.hero--vertical-center {
    align-items: center;
}

.hero--vertical-top {
    align-items: flex-start;
}

@include mq.mq($until: tablet) {
    .hero--vertical-mobile-bottom {
        align-items: flex-end;
    }
    .hero--vertical-mobile-center {
        align-items: center;
    }
    .hero--vertical-mobile-top {
        align-items: flex-start;
    }
}
