/**
 * -----------------------------------------------------------------------------
 * $BLOCKQUOTE
 * -----------------------------------------------------------------------------
 */

blockquote {
    position: relative;

    margin: 0 0 $spacing-default 0;

    @include text-blockquote();   

    @include bp-min-width($bp-tablet) {
        @include themify($themes) {
            @include rem(font-size, themed('fontSize.blockquote'));
        }
    }

    p {
        hanging-punctuation: first;
        text-indent: -0.4em;
    }
}