/* ==========================================================================
   #PICTURE
   ========================================================================== */

picture {
    display: block;

    > img {
        display: block;
    }
}