/* ==========================================================================
   #TABLE/BORDERLESS
   ========================================================================== */

.table--borderless {
    thead,
    tbody {
        tr {
            border: 0;
        }
    }
}