/* ==========================================================================
   #TABLE/HEAD DARK
   ========================================================================== */

.table--head-dark {
    thead {
        tr {
            background-color: var(--colorBlack);

            color: var(--colorWhite);
        }
    }
}
