/* ==========================================================================
   #TABLE/HOVER
   ========================================================================== */

.table--hover {
    tbody {
        tr {
            &:hover {
                @include themify($themes) {
                    background-color: themed('color.tableRowLight');
                }
            }
        }
    }
}