/* ==========================================================================
   #TABLE/STRIPED
   ========================================================================== */

.table--striped {
    tbody {
        tr {
            &:nth-child(odd) {
                @include mq($from: tablet) {
                    background-color: var(--colorGreyLight);
                }
            }
        }

        td {
            &:nth-child(even) {
                background-color: var(--colorGreyLight);

                @include mq($from: tablet) {
                    background-color: transparent;
                }
            }
        }
    }
}
