<table class="table {{ tableModifier }}">
    <caption class="table__caption">Table caption (heading)</caption>
    <thead>
        <tr>
            <th scope="col" class="text--align-right">Rank</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" class="text--align-right">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" data-label="Rank" class="text--align-right">1</td>
            <td data-label="Name">James</td>
            <td data-label="Email">james@etchuk.com</td>
            <td data-label="Score" class="text--align-right">10,203</td>
        </tr>
        <tr>
            <td scope="row" data-label="Rank" class="text--align-right">2</td>
            <td data-label="Name">Emma</td>
            <td data-label="Email">emma@etchuk.com</td>
            <td data-label="Score" class="text--align-right">8,434</td>
        </tr>
        <tr>
            <td scope="row" data-label="Rank" class="text--align-right">3</td>
            <td data-label="Name">Dan</td>
            <td data-label="Email">dan@etchuk.com</td>
            <td data-label="Score" class="text--align-right">7,491</td>
        </tr>
        <tr>
            <td scope="row" data-label="Rank" class="text--align-right">4</td>
            <td data-label="Name">Beckie</td>
            <td data-label="Email">beckie@etchuk.com</td>
            <td data-label="Score" class="text--align-right">6,439</td>
        </tr>
        <tr>
            <td scope="row" data-label="Rank" class="text--align-right">5</td>
            <td data-label="Name">Ross</td>
            <td data-label="Email">ross@etchuk.com</td>
            <td data-label="Score" class="text--align-right">5,833</td>
        </tr>
    </tbody>
</table>