<section class="section">
    <div class="constrain constrain--wide">

        {{render '@media'}}

    </div>
</section>

<section class="section section--flow-gutter-none">
    <div class="constrain constrain--wide">

        {{render '@media'}}

    </div>
</section>

<section class="section section--flow-gutter-large">
    <div class="constrain constrain--wide">

        {{render '@media'}}

    </div>
</section>