<section class="section">
    <div class="constrain">

        <h1>Images in content</h1>

        <p>This component shows different ways in which images can be manipulated around text content.</p>

        <h2>Inline</h2>

        <figure>
            <img src="/content/PatternLibrary/unsplash-1444090542259-3300w.jpg" alt="A description of the image" />
            <figcaption>The image fills the width of its parent.</figcaption>
        </figure>

        <h2>Wide</h2>

        <figure class="align--wide">
            <img src="/content/PatternLibrary/unsplash-1444090542259-3300w.jpg" alt="A description of the image" />
            <figcaption>The image is wider than the text content, but not full width.</figcaption>
        </figure>

        <h2>Full</h2>

        <figure class="align--full">
            <img src="/content/PatternLibrary/unsplash-1444090542259-3300w.jpg" alt="A description of the image" />
            <figcaption>The image is the full width of the page.</figcaption>
        </figure>

        <h2>Left-aligned</h2>

        <figure class="align--left">
            <img src="/content/PatternLibrary/unsplash-1444090542259-400w.jpg" alt="A description of the image" />
            <figcaption>The image is left-aligned.</figcaption>
        </figure>

        <p>Donec rhoncus nisi non metus hendrerit, eu bibendum augue ultricies. Integer ut lacinia tellus. Aenean nisl
            urna, pellentesque non diam ac, lobortis lobortis lectus. Sed ullamcorper eros id vestibulum commodo. Fusce
            convallis dolor quis faucibus rutrum. Nam in odio id justo venenatis dictum. Aenean dignissim blandit nulla,
            quis consequat purus ullamcorper non. Mauris interdum, quam vel bibendum molestie, massa magna vestibulum
            arcu, a pellentesque sapien felis nec elit. Cras condimentum auctor congue. Aliquam non laoreet lectus. In
            in nisl id ligula pulvinar tristique.</p>

        <p>Vestibulum scelerisque mauris scelerisque arcu tincidunt lacinia. Donec luctus facilisis ex. Pellentesque
            ligula est, scelerisque sagittis nisi non, semper laoreet orci. Vestibulum sollicitudin vitae orci nec
            facilisis. Integer eu posuere dui, non pulvinar magna. Aenean porttitor mollis urna, iaculis tristique orci
            rutrum et. Phasellus elementum, erat ut aliquam facilisis, dolor urna congue ligula, eu ultricies purus
            tortor eget lorem. Fusce sit amet magna justo. In fermentum ipsum id metus rhoncus consequat eget vitae
            ligula. Quisque rutrum gravida vestibulum. Pellentesque eleifend imperdiet tincidunt. Aliquam ut purus a
            magna placerat dictum. Pellentesque risus magna, dignissim nec eros nec, mattis consequat velit. Integer
            sodales massa eu egestas interdum. Ut cursus, libero at pretium tincidunt, arcu erat elementum massa, vel
            pulvinar velit diam eu lorem.</p>

        <h2>Right-aligned</h2>

        <figure class="align--right">
            <img src="/content/PatternLibrary/unsplash-1444090542259-400w.jpg" alt="A description of the image" />
            <figcaption>The image is right-aligned.</figcaption>
        </figure>

        <p>Donec rhoncus nisi non metus hendrerit, eu bibendum augue ultricies. Integer ut lacinia tellus. Aenean nisl
            urna, pellentesque non diam ac, lobortis lobortis lectus. Sed ullamcorper eros id vestibulum commodo. Fusce
            convallis dolor quis faucibus rutrum. Nam in odio id justo venenatis dictum. Aenean dignissim blandit nulla,
            quis consequat purus ullamcorper non. Mauris interdum, quam vel bibendum molestie, massa magna vestibulum
            arcu, a pellentesque sapien felis nec elit. Cras condimentum auctor congue. Aliquam non laoreet lectus. In
            in nisl id ligula pulvinar tristique.</p>

        <p>Vestibulum scelerisque mauris scelerisque arcu tincidunt lacinia. Donec luctus facilisis ex. Pellentesque
            ligula est, scelerisque sagittis nisi non, semper laoreet orci. Vestibulum sollicitudin vitae orci nec
            facilisis. Integer eu posuere dui, non pulvinar magna. Aenean porttitor mollis urna, iaculis tristique orci
            rutrum et. Phasellus elementum, erat ut aliquam facilisis, dolor urna congue ligula, eu ultricies purus
            tortor eget lorem. Fusce sit amet magna justo. In fermentum ipsum id metus rhoncus consequat eget vitae
            ligula. Quisque rutrum gravida vestibulum. Pellentesque eleifend imperdiet tincidunt. Aliquam ut purus a
            magna placerat dictum. Pellentesque risus magna, dignissim nec eros nec, mattis consequat velit. Integer
            sodales massa eu egestas interdum. Ut cursus, libero at pretium tincidunt, arcu erat elementum massa, vel
            pulvinar velit diam eu lorem.</p>

    </div>
</section>