<section class="section padding--bottom-large">
    <div class="constrain constrain--wide">

        {{render '@text-and-image-default'}}

    </div>
</section>

<section class="section padding--bottom-large">
    <div class="constrain constrain--wide">

        {{render '@text-and-image-reversed'}}

    </div>
</section>