<body class="animate">
    <section class="section js-in-viewport fade-in--repeatable">
        <div class="constrain">

            <h2>Fade in</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut
                purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
            <button class="btn btn--primary">Brand Primary</button>

        </div>
    </section>

    <section class="section js-in-viewport fade-in--from-left-repeatable">
        <div class="constrain">

            <h2>Fade in from left</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut
                purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
            <button class="btn btn--primary">Brand Primary</button>

        </div>
    </section>

    <section class="section js-in-viewport fade-in--from-right-repeatable">
        <div class="constrain">

            <h2>Fade in from right</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut
                purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
            <button class="btn btn--primary">Brand Primary</button>

        </div>
    </section>

    <section class="section js-in-viewport fade-in">
        <div class="constrain">

            <h2>Fade in once</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut
                purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
            <button class="btn btn--primary">Brand Primary</button>

        </div>
    </section>

    <section class="section js-in-viewport fade-in--from-left">
        <div class="constrain">

            <h2>Fade in once from left</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut
                purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
            <button class="btn btn--primary">Brand Primary</button>

        </div>
    </section>

    <section class="section js-in-viewport fade-in--from-right">
        <div class="constrain">

            <h2>Fade in once from right</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed orci eget dui hendrerit rhoncus ut ut
                purus. Aenean sodales libero vitae enim vestibulum maximus.</p>
            <button class="btn btn--primary">Brand Primary</button>

        </div>
    </section>
</body>