<!DOCTYPE html>
<html class="theme-default">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="{{path '/css/styles.css'}}">
    <title>Preview Layout</title>
</head>

<body>
    {{{ yield }}}

    <script src="{{path '/js/scripts.js'}}"></script>
</body>

</html>