<p>Always use the variable over hardcoded value in Sass files.</p>

<ul class="list list--horizontal-spaced">
    <li>
        <div class="color" style="background-color: #ff137c">
            <pre>$color-brand-primary<span>#ff137c</span></pre>
        </div>
    </li>
    <li>
        <div class="color" style="background-color: #070f26">
            <pre>$color-brand-secondary<span>#070f26</span></pre>
        </div>
    </li>
</ul>