<nav class="nav" role="navigation">
    <ul class="nav__items js-nav">
        <li class="nav__item nav__item--parent">
            <a href="#" aria-haspopup="true" aria-expanded="false">
                <img class="icon icon--flag" src="/content/Flags/en-us.svg">
                <span>English (US)</span>
            </a>
            <div class="nav__sub">
                <ul class="nav__sub-items">
                    <li class="nav__item"><a href="#"><img class="icon icon--flag" src="/content/Flags/en-gb.svg"> English (UK)</a></li>
                    <li class="nav__item"><a href="#"><img class="icon icon--flag" src="/content/Flags/en-au.svg"> English (AU)</a></li>
                    <li class="nav__item"><a href="#"><img class="icon icon--flag" src="/content/Flags/fr.svg"> French</a></li>
                    <li class="nav__item"><a href="#"><img class="icon icon--flag" src="/content/Flags/it.svg"> Italian</a></li>
                    <li class="nav__item"><a href="#"><img class="icon icon--flag" src="/content/Flags/de.svg"> German</a></li>
                    <li class="nav__item"><a href="#"><img class="icon icon--flag" src="/content/Flags/es.svg"> Spanish</a></li>
                    <li class="nav__item"><a href="#"><img class="icon icon--flag" src="/content/Flags/pl.svg"> Polish</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
