/* ==========================================================================
   #VIDEO MODAL/DEFAULTS
   ========================================================================== */

.video-modal {
    &__link {
        display: block;
        position: relative;

        background: var(--videoModalBackground);

        .align--left & {
            margin-right: auto;
        }

        .align--center & {
            margin: 0 auto;
        }

        .align--right & {
            margin-left: auto;
        }
    }

    &__media {
        margin: 0 auto;

        width: 100%;

        .embed {
            margin: 0;
        }
    }

    &__cover {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__thumbnail {
        width: 100%;
    }

    &__link-text {
        left: 50%;
        max-width: 100%;
        padding: $spacing-default;
        position: absolute;
        top: 50%;

        transform: translate(-50%, -50%);
    }
}
