@using OrchardCore.Themes.Services

@inject ISiteThemeService SiteThemeService

@{
    var currentThemeName = await SiteThemeService.GetCurrentThemeNameAsync();
}

<section class="section section--form-solo">
    <div class="section__content">
        <a href="@Context.Request.PathBase"><img src="/@currentThemeName/content/PlayCMS.svg" class="margin--bottom-large" alt="@T["Play CMS Logo"]" /></a>

        <div class="form text--align-left">
            <h1 class="text--size-h4">@T["Forgot Password Confirmation"]</h1>
            <p>@T["Please check your email to reset your password."]</p>
        </div>
    </div>
</section>
