@using OrchardCore.Themes.Services

@inject ISiteThemeService SiteThemeService

@{
    var currentThemeName = await SiteThemeService.GetCurrentThemeNameAsync();
}

<section class="hero hero--desktop-ratio-100vh hero--tablet-ratio-100vh hero--mobile-ratio-100vh hero--horizontal-center hero--vertical-center hero--contains-users-form">
    <div class="hero__body constrain constrain--extra-thin">
        <div class="form form--users-form">
            <h1 class="text--h3">@T["Reset Password Confirmation"]</h1>

            <p>@T["Your password has been reset."]</p>
            <p>@T["Please "]<a asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="Login">@T["log in"]</a>.</p>
        </div>
    </div>
    <div class="hero__space"></div>
</section>
