<h3>Grow</h3>

<ul>
    <li><a class="link--grow-center" href="#">From the center</a></li>
    <li><a class="link--grow-ltr" href="#">Left to right</a></li>
    <li><a class="link--grow-rtl" href="#">Right to left</a></li>
</ul>

<h3>Shrink</h3>

<ul>
    <li><a class="link--shrink-center" href="#">Shrink to center</a></li>
    <li><a class="link--shrink-ltr" href="#">Shrink left to right</a></li>
    <li><a class="link--shrink-rtl" href="#">Shrink right to left</a></li>
</ul>

<h3>Slide</h3>

<ul>
    <li><a class="link--slide-bottom" href="#">Slide to bottom</a></li>
    <li><a class="link--slide-center" href="#">Slide to center</a></li>
    <li><a class="link--slide-top" href="#">Slide to top</a></li>
</ul>