/* ==========================================================================
   #GRID/MASTER
   ========================================================================== */

.grid,
.grid--inline {
    width: 100%;

    @supports (display: grid) {
        display: grid;
    }
}

.grid--inline {
    @supports (display: grid) {
        display: inline-grid;
    }
}

.grid--master {
    @include grid-master();

    .grid__item {
        width: 100%;

        @supports (display: grid) {
            grid-column: span 6;
            width: auto;

            @include bp-min-width($bp-tablet) {
                grid-column: span 12;
            }
        }
    }   
}