<section class="hero hero--horizontal-left hero--vertical-center">
    <div class="hero__body constrain">
        <div class="flow">
            <div class="flow__content">
                <div class="width--66">
                    <h1 id="etch-play-boilerplate">PlayCMS Boilerplate</h1>
                </div>
                <div class="width--66">
                    <a href="/about" class="btn btn--primary">
                        Find out more
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <div class="embed embed--ratio-16-9">
            <div class="embed__source">
                <iframe src='https://player.vimeo.com/video/165642889?background=1'></iframe>
            </div>
        </div>
    </div>
</section>