<section class="hero hero--horizontal-left hero--vertical-center hero--pull-up">
    <div class="hero__body constrain">
        <div class="flow">
            <div class="flow__content">
                <div class="width--66">
                    <h1 id="etch-play-boilerplate">PlayCMS Boilerplate</h1>
                </div>
                <div class="width--66">
                    <a href="/about" class="btn btn--primary">
                        Find out more
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <picture>
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-2560w.jpg" media="(min-width: 1921px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1920w.jpg" media="(min-width: 1441px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1440w.jpg" media="(min-width: 1281px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1280w.jpg" media="(min-width: 1025px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" media="(min-width: 769px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-768w.jpg" media="(min-width: 426px)">
            <source srcset="/content/PatternLibrary/unsplash-1444090542259-425w.jpg" media="(min-width: 376px)">
            <img src="/content/PatternLibrary/unsplash-1444090542259-375w.jpg" />
        </picture>
    </div>
</section>