<header class="header">
    <div class="header__content constrain constrain--wide">

        <a class="header__logo" href="#">
            {{render '@responsive-image'}}
        </a>

        <div class="header__nav-button js-nav-button">Menu</div>

        <nav class="header__nav" role="navigation">
            {{render '@nav'}}
        </nav>

    </div>
</header>