<div class="card {{ cardModifier }}">
    <picture>
        <img src="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" alt="A description of the image" />
    </picture>
    <div class="card__body">
        {{{ cardTitle }}}
        {{{ cardMeta }}}
        {{{ cardBody }}}
    </div>
</div>