<section class="section">
    <div class="section__content">
        <ul class="gallery js-gallery">
            <li class="gallery__item">
                <a href="/content/PatternLibrary/Gallery/screenshot-1.jpg">
                    <img src="/content/PatternLibrary/Gallery/screenshot-1.jpg" alt="A description of the image">
                </a>
            </li>
            <li class="gallery__item">
                <a href="/content/PatternLibrary/Gallery/screenshot-2.jpg">
                    <img src="/content/PatternLibrary/Gallery/screenshot-2.jpg" alt="A description of the image">
                </a>
            </li>
            <li class="gallery__item">
                <a href="/content/PatternLibrary/Gallery/screenshot-3.jpg">
                    <img src="/content/PatternLibrary/Gallery/screenshot-3.jpg" alt="A description of the image">
                </a>
            </li>
            <li class="gallery__item">
                <a href="/content/PatternLibrary/Gallery/screenshot-4.jpg">
                    <img src="/content/PatternLibrary/Gallery/screenshot-4.jpg" alt="A description of the image">
                </a>
            </li>
        </ul>
    </div>
</section>