
<ul class="list list--navigation js-nav">
    <li>
        <a href="#" aria-haspopup="true" aria-expanded="false">
            Home
        </a>
    </li>
    <li class="has-sub-list">
        <a href="#" aria-haspopup="true" aria-expanded="false">
            About
        </a>
        <div class="sub-list">
            <ul class="list">
                <li><a href="#">Sub-item One</a></li>
                <li><a href="#">Sub-item Two</a></li>
                <li><a href="#">Sub-item Three</a></li>
            </ul>
        </div>
    </li>
    <li class="has-sub-list">
        <a href="#" aria-haspopup="true" aria-expanded="false">
            Games
        </a>
        <div class="sub-list">
            <ul class="list">
                <li><a href="#">Sub-item One</a></li>
                <li><a href="#">Sub-item Two</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#" aria-haspopup="true" aria-expanded="false">
            Jobs
        </a>
    </li>
    <li>
        <a href="#" aria-haspopup="true" aria-expanded="false">
            Press
        </a>
    </li>
    <li>
        <a href="#" aria-haspopup="true" aria-expanded="false">
            Contact
        </a>
    </li>
</ul>
