<div class="form-group">
    <label class="label" for="more-detail">
        Textarea
    </label>
    <span id="more-detail-hint" class="hint">
        Use hint text to provide additional context to the question.
    </span>
    <textarea class="textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>