/* ==========================================================================
   #IMAGE/DEFAULT
   ========================================================================== */

.image {
    display: inline-block; 

    &--responsive {
        display: block;

        img {
            width: 100%;
        }
    }
}
