/* ==========================================================================
   #SWATCH/DEFAULT
   ========================================================================== */

.swatch {
    padding-top: var(--swatchHeight);

    pre {
        margin-bottom: 0;
        padding: var(--spacingDefault);

        background-color: var(--colorGreyLight);

        text-align: center;

        span {
            display: block;
        }
    }
}
