<div class="form-group">
    <fieldset class="fieldset" aria-describedby="changed-name-hint">
        <legend class="fieldset__legend">
            <h1 class="fieldset__heading">
                Have you changed your name?
            </h1>
        </legend>
        <span id="changed-name-hint" class="hint">
            This includes changing your last name or spelling your name differently.
        </span>
        <div class="radios radios--inline">
            <div class="radios__item">
                <input class="radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                <label class="label radios__label" for="changed-name">
                    Yes
                </label>
            </div>
            <div class="radios__item">
                <input class="radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="label radios__label" for="changed-name-2">
                    No
                </label>
            </div>
        </div>
    </fieldset>
</div>