<footer class="footer {{ footerModifier }}" {{#if footerInverted }} style="--footerBackgroundColor: #000;" {{/if}}>
    <div class="footer__content constrain constrain--wide">
        <div class="flow">
            <div class="flow__content">
                <div class="width--20">
                    <a href="#">
                        <img src="/content/PatternLibrary/{{ footerLogo }}" alt=" Etch Play Logo" />
                    </a>
                </div>

                <div class="width--80">
                    {{render '@nav'}}
                </div>

                <div class="width--100">
                    <p>&copy; 2021 Etch Play. <a href="#">Privacy policy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>