<footer class="footer">
    <div class="footer__content constrain constrain--wide">

        <div class="footer__meta">
            <a class="footer__logo" href="#">
                {{render '@responsive-image'}}
            </a>

            <p>&copy; 2020 Etch Play. <a href="#">Privacy policy</a></p>
        </div>

        <nav class="footer__nav">
            {{render '@nav'}}
        </nav>

    </div>
</footer>