/* ==========================================================================
   #FORM/CHECKBOXES
   ========================================================================== */

.checkboxes {
    display: block;

    &__item {
        display: block;
        @include rem(margin-bottom, $spacing-default);
        position: relative;
    }

        &__input {
            height: $form-checkbox-height;
            left: 0;
            margin: 0;
            position: absolute;
            top: 0;
            width: $form-checkbox-width;
            z-index: $z-index-default;
            
            cursor: pointer;
            opacity: 0;

            /* Make check icon visible */
            &:checked + .checkboxes__label:after {
                opacity: 1;
            }

            /* Change checkbox border colour when checked */
            &:checked + .checkboxes__label:before {
                @include themify($themes) {
                    border-color: themed('color.text');
                }
            }
            
            /* Show focus colour */
            &:focus + .checkboxes__label::before {           
                @include focus-form-element;
            }
        }

        &__label {
            display: inline-block;
            margin-bottom: 0;
            padding-left: $form-checkbox-label-padding-left;

            cursor: pointer;
            touch-action: manipulation;

            @include themify($themes) {
                font-family: themed('fontFamily.default');
                font-size: themed('fontSize.default');
                font-weight: themed('fontWeight.default');
            }

            &:before {
                box-sizing: border-box;
                content: "";
                height: $form-checkbox-height;
                left: 0;
                position: absolute;
                top: 0;
                width: $form-checkbox-width;

                background: transparent;
                @include themify($themes) {
                    border: $form-border-size solid themed('color.hint');
                }
            }

            &:after {
                content: "";
                height: $form-checkbox-label-after-height;
                left: $form-checkbox-label-after-x-pos;
                position: absolute;
                top: $form-checkbox-label-after-y-pos;
                width: $form-checkbox-label-after-width;

                background: transparent;
                border: solid;
                border-width: $form-checkbox-label-after-border-width;
                border-top-color: transparent;
                transform: rotate(-45deg);
                opacity: 0;
            }
        }
}