/* ==========================================================================
   #FORM/FIELD-GROUP
   ========================================================================== */

.field-group {
    @include rem(padding, $spacing-default);
    width: 100%;

    border: none;
}

.field-group--horizontal {
    @include bp-min-width($bp-tablet-small) {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;

        > * {
            flex-grow: 1;            
            @include rem(margin-right, $spacing-large);
            width: 100%;
        }
    }
}
