/* ==========================================================================
   #FORM/FIELDSET
   ========================================================================== */

.fieldset {
    &__heading {
        margin-bottom: 0;
    }
}