/* ==========================================================================
   #FORM/FIELD
   ========================================================================== */

.field {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: $spacing-default;
    }
}

.field__label {
    @include themify($themes) {
        @include rem(font-size, themed('fontSize.small'));
    }

    width: 100%;

    display: block;
}

/**
 * 1. Overriding InputPart is tricky, this way we don't have to
 */
.field__entry, .form-control /* 1 */ {
    @include themify($themes) {
        border-bottom: $form-border-size solid themed('color.text');
    }

    width: 100%;

    border: none;
    display: block;
    @include rem(padding, $spacing-small 0);

    background-color: transparent;
    outline: none;
    text-indent: 0;
}

.field--radio-group {
    & .field__label,
    .field__entry {
        display: inline-block;
    }

    & .field__entry {
        &:not(:last-child) {
            @include rem(margin-right, $spacing-default);
        }
    }
}

.field__error {
    display: none;
    @include rem(padding, $spacing-small 0);

    @include themify($themes) {
        color:themed('color.validationError');
    }
}

.has-error {
    .field__entry, .form-control /* 1 */ {
        @include themify($themes) {
            border-bottom: $form-border-size solid themed('color.validationError');
        }
    }

    .field__error {
        display: block;
    }
}