/* ==========================================================================
   #FORM/FORM
   ========================================================================== */

.form {
    width: 100%;
}

.form--centered {
    .btn {
        display: block;
        margin: 0 auto;
    }
}