/* ==========================================================================
   #FORM/REQUIRED
   ========================================================================== */

.required {
    @include themify($themes) {
        color: themed('color.brandPrimary');
    }
}