/* ==========================================================================
   #FORM/SETTINGS
   ========================================================================== */

$form-border-size: 1px;

$form-overlap-size-extra-translate: .4rem;
$form-overlap-size: 1.8rem;