/* ==========================================================================
   #SETTINGS
   ========================================================================== */

/**
 * Place any values in variables file to avoid magic values.
 * https://stackoverflow.com/questions/47882/what-is-a-magic-number-and-why-is-it-bad
 */

@import "breakpoints";
@import "content";
@import "font";
@import "form";
@import "layout";
@import "table";
@import "themes";
@import "z-index";