/* ==========================================================================
   #ANIMATION
   ========================================================================== */

:root {
    --animationDelay: 0;
    --animationDuration: 0.3s;
    --animationFallbackDuration: 4s;
    --animationMoveOffset: 200px;
    --animationTiming: ease-in-out;
}
