/* ==========================================================================
   #COLOURS
   ========================================================================== */

$color-grey-light: #efefef;

:root {
    --colorAlertBackground: #dadada;
    --colorAlertErrorBackground: #e49393;
    --colorAlertErrorText: #310606;
    --colorAlertSuccessBackground: #93e493;
    --colorAlertSuccessText: #093109;
    --colorBlack: #070f26;
    --colorCarouselIndicator: #747474;
    --colorCarouselIndicatorActive: #ffffff;
    --colorCarouselIndicatorFocus: #c4c4c4;
    --colorError: #e20000;
    --colorGrey: #ccc;
    --colorGreyLight: #efefef;
    --colorPrimary: #3ce854;
    --colorPrimaryActive: #{darken(#3ce854, 10%)};
    --colorSecondary: #070f26;
    --colorSecondaryActive: #{darken(#070f26, 10%)};
    --colorSiteBackground: #ffffff;
    --colorTextDefault: #070f26;
    --colorTextInverted: #ffffff;
    --colorTextLight: #6d6d6d;
    --colorWhite: #ffffff;
}
