/* ==========================================================================
   #COLOURS
   ========================================================================== */

$color-grey-light: #efefef;

:root {
    --colorBlack: #070f26;
    --colorGrey: #cccccc;
    --colorGreyLight: $color-grey-light;
    --colorWhite: #ffffff;

    --colorAlertBackground: var(--colorGreyLight);
    --colorAlertErrorBackground: #e49393;
    --colorAlertErrorText: #310606;
    --colorAlertSuccessBackground: #93e493;
    --colorAlertSuccessText: #093109;

    --colorCarouselIndicator: #747474;
    --colorCarouselIndicatorActive: #ffffff;
    --colorCarouselIndicatorFocus: #c4c4c4;

    --colorError: #e20000;

    --colorPrimary: #3ce854;
    --colorPrimaryActive: #{darken(#3ce854, 10%)};
    --colorSecondary: #070f26;
    --colorSecondaryActive: #{darken(#070f26, 10%)};

    --colorSiteBackground: var(--colorWhite);
    --colorTextDefault: var(--colorBlack);
    --colorTextInverted: var(--colorWhite);
    --colorTextLight: var(--colorGrey);
}
