/* ==========================================================================
   #CONTENT
   ========================================================================== */

/*
 * Content Width
 */

:root {
    --contentWidthExtraThin: 64rem;
    --contentWidthThin: 96rem;
    --contentWidth: 118rem;
    --contentWidthWide: 144rem;
}
