/* ==========================================================================
   #CONTENT
   ========================================================================== */

/*
 * Content Width
 */

:root {
    --contentWidthExtraThin: 71.6rem;
    --contentWidthThin: 96rem;
    --contentWidth: 118rem;
    --contentWidthWide: 141.2rem;

    --contentWidthFloatedContent: 40%;
}
