/* ==========================================================================
   #CONTENT
   ========================================================================== */

/**
 * Content spacing
 */

$content-gutter-small: 1.6rem;
$content-gutter: 2.4rem;
$content-gutter-large: 5.4rem;
$content-gutter-x-large: 10rem;

/**
 * Content Width
 */

$content-width-extra-thin: 67.6rem;
$content-width-thin: 92rem;
$content-width: 114rem;
$content-width-wide: 137.2rem;

$content-float-aligned-width: 40%;
