/* ==========================================================================
   #FORM
   ========================================================================== */

:root {
    --formFieldBackgroundColor: transparent;
    --formFieldBackgroundColorInverted: var(--formFieldBackgroundColor);
    --formFieldBorderColor: var(--colorTextDefault);
    --formFieldBorderColorInverted: var(--colorTextInverted);
    --formFieldBorderWidth: var(--borderWidth);
    --formFieldFocusBoxShadowBlur: 0.6rem;
    --formFieldFocusBoxShadowSpread: var(--formFieldBorderWidth);
    --formFieldPaddingHorizontal: 0.5rem;
    --formFieldPaddingVertical: 0.5rem;
    --formFieldTextColor: var(--colorTextDefault);
    --formFieldTextColorInverted: var(--colorTextInverted);
}
