/* ==========================================================================
   #FORM
   ========================================================================== */

:root {
    --formBorderSize: var(--borderWidth);
    --formElementPaddingHorizontal: 0.5rem;
    --formElementPaddingVertical: 0.5rem;
}
