/* ==========================================================================
   #GUTTER
   ========================================================================== */

/**
  * Spacing between items and content
  */

:root {
    --gutterSmall: var(--spacingDefault);
    --gutter: var(--spacingLarge);
    --gutterLarge: var(--spacingXLarge);
}
