/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/**
 * Control dimensions & spacing, favouring `rem` unit.
 */

$spacing-small: .75rem;
$spacing-default: 1.5rem;
$spacing-large: 3rem;