/* ==========================================================================
   #SPACING
   ========================================================================== */

/*
 * Control dimensions & spacing, favouring `rem` unit.
 */

@use "sass-mq/mq";

:root {
    --spacingSmall: 0.8rem;
    --spacingDefault: 1.6rem;
    --spacingLarge: 3.2rem;
    --spacingXLarge: 5.4rem;

    --spacingText: 1.6rem;

    @include mq.mq($from: mobileLarge) {
        --spacingText: 2.4rem;
    }
}
