/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Control dimensions & spacing, favouring `rem` unit.
 */

$gutter: 3.2rem;

$spacing-small: 0.8rem;
$spacing-default: 1.6rem;
$spacing-large: 3.2rem;
$spacing-x-large: 5.4rem;

$spacing-text-default: 1.6rem;
$spacing-text-desktop: 2.4rem;
