/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Control dimensions & spacing, favouring `rem` unit.
 */

$spacing-small: 0.75rem;
$spacing-default: 1.5rem;
$spacing-large: 3rem;
$spacing-x-large: 5rem;

$spacing-text-default: 1.5rem;
$spacing-text-desktop: 1.5rem;
