/* ==========================================================================
   #TABLE
   ========================================================================== */

@use "sass-mq/mq";

:root {
    --tableBorderWidth: var(--borderWidth);

    --tableCellPaddingHorizontal: 2rem;
    --tableCellPaddingVertical: 0.5rem;

    @include mq.mq($from: tablet) {
        --tableCellPaddingVertical: 1.1rem;
    }
}
