/* ==========================================================================
   #TABLE
   ========================================================================== */

$table-border-width: 0.1rem;

$table-cell-padding-horizontal: 2rem;
$table-cell-padding-vertical: 1.1rem;
$table-cell-padding-vertical-mobile: 0.5rem;
