/* ==========================================================================
   #Z-INDEX
   ========================================================================== */

:root {
    --zIndexBack: -100;
    --zIndexDefault: 1;
    --zIndexFront: 100;
    --zIndexMid: 2;
    --zIndexNudgeForward: 3;
    --zIndexUnder: -1;

    --zIndexNav: 1000;
}
