/* ==========================================================================
   #GALLERY/DEFAULT
   ========================================================================== */

.gallery {
    @include list-reset();

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $gallery-gutter-small;
    margin-left: -$gallery-item-gap;
    margin-right: -$gallery-item-gap;

    @include mq($from: mobile) {
        margin-bottom: $gallery-gutter;
    }
}

.gallery__item {
    margin-bottom: $gallery-gutter-small;
    padding-left: $gallery-item-gap;
    padding-right: $gallery-item-gap;
    width: 50%;

    @include mq($from: tabletSmall) {
        width: 33.3%;
    }

    @include mq($from: tablet) {
        width: 25%;
    }
}
