/* ==========================================================================
   #GALLERY/SETTINGS
   ========================================================================== */

$gallery-gutter: 2rem;
$gallery-gutter-small: 1.5rem;
$gallery-item-gap: $gallery-gutter / 2;