/* ==========================================================================
   #GALLERY/VARIABLES
   ========================================================================== */

@use "sass-mq/mq";

:root {
    --galleryBorderRadius: var(--borderRadius);
    --galleryGutter: 1.5rem;

    @include mq.mq($from: mobile) {
        --galleryGutter: 2rem;
    }
}
