/* ==========================================================================
   #GALLERY/VARIABLES
   ========================================================================== */

:root {
    --galleryBorderRadius: 1rem;
    --galleryGutter: 2rem;
    --galleryGutterSmall: 1.5rem;
}
