/* ==========================================================================
   #BUTTON/DEFAULT
   ========================================================================== */

.btn,
.btn:link,
.btn:visited {
    border: $button-border-size solid var(--colorPrimary);
    display: inline-block;
    padding: $button-padding-vertical $button-padding-horizontal;
    vertical-align: middle;

    background-color: var(--colorPrimary);
    outline: none;

    color: var(--colorWhite);
    text-decoration: none;

    cursor: pointer;
}

.btn:disabled {
    background-color: var(--colorbuttonDisabled);
    border: $button-border-size solid var(--colorbuttonDisabled);

    color: var(--colorTextDefault);
}
