/*  ==========================================================================
    #BUTTON/ICON
    ========================================================================== */

.btn--icon {
    @include themify($themes) {
        background-color: transparent;
        border: 0;
    }

    padding: 0;
}
