/*  ==========================================================================
    #BUTTON/ICON
    ========================================================================== */

.btn--icon {
    border: 0;
    padding: 0;

    background-color: transparent;
}
