/* ==========================================================================
   #BUTTON/PRIMARY
   ========================================================================== */

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
    border: $button-border-size solid var(--colorPrimary);

    background-color: var(--colorPrimary);

    color: var(--colorWhite);
}
