/* ==========================================================================
   #BUTTON/PRIMARY
   ========================================================================== */

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
    @include themify($themes) {
        background-color: themed('color.brandPrimary');
        border: $button-border-size solid themed('color.brandPrimary');
        color: themed('color.white');
    }
}