/* ==========================================================================
   #BUTTON/SECONDARY
   ========================================================================== */

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);

    color: var(--colorWhite);

    &:hover {
        background-color: var(--colorSecondaryActive);
        border-color: var(--colorSecondaryActive);
    }
}
