/* ==========================================================================
   #BUTTON/VARIABLES
   ========================================================================== */

:root {
    --buttonBorderRadius: var(--borderRadius);
    --buttonBorderThickness: var(--borderWidth);
    --buttonDisabledColor: var(--colorGrey);
    --buttonDisabledTextColor: var(--colorGreyLight);
    --buttonFontSize: var(--fontSizeBase);
    --buttonFontWeight: normal;
    --buttonLineHeight: var(--lineHeightDefault);
    --buttonPaddingHorizontal: #{$spacing-large};
    --buttonPaddingVertical: #{$spacing-default};
    --buttonTextTransform: none;
}
